---
title: "Example 4: tags"
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li>Alcatel<button class="delete" aria-label="Remove Alcatel from the list">X</button></li>
        <li>Doro<button class="delete" aria-label="Remove Doro from the list">X</button></li>
        <li>Apple<button class="delete" aria-label="Remove Apple from the list">X</button></li>
        <li>LG<button class="delete" aria-label="Remove LG from the list">X</button></li>
        <li>Sony<button class="delete" aria-label="Remove Sony from the list">X</button></li>
    </ul>
</div>
