---
title: "Exemple 2 : les tags"
eleventyExcludeFromCollections: true
css:
  - style.css
---

<div class="example">
    <ul>
        <li>Alcatel<button>Retirer Alcatel de la liste</button></li>
        <li>Doro<button>Retirer Doro de la liste</button></li>
        <li>Apple<button>Retirer Apple de la liste</button></li>
        <li>LG<button>Retirer LG de la liste</button></li>
        <li>Sony<button>Retirer Sony de la liste</button></li>
    </ul>
</div>
