{% set breadcrumb = navigation.main | getBreadcrumb(locale, page, title) %}

<nav class="container-lg" role="navigation" aria-labelledby="breadcrumb-label">
  <p id="breadcrumb-label" class="sr-only">{% translate 'breadcrumb.label', locale %}</p>
  <ol class="breadcrumb">
    {% for item in breadcrumb %}
      {% if item.isActive %}
        <li class="breadcrumb-item" aria-current="location">
          {{ item.label }}
        </li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{{ item.href }}">{{ item.label }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
