{% set breadcrumb = navigation.main | getBreadcrumb(locale, page, title) %}

<nav role="navigation" aria-labelledby="breadcrumb-label">
  <p id="breadcrumb-label" class="sr-only">{{ 'breadcrumb.label' | translate }}</p>
  <ol class="breadcrumb">
    {%- for item in breadcrumb -%}
      {% set beforeLast = loop.index == breadcrumb | length - 1 %}
      {% if item.isActive %}
        <li class="breadcrumb-item{% if not beforeLast %} d-none d-sm-flex{% endif %}" aria-current="location">
          {{ item.label }}
        </li>
      {% else %}
        <li class="breadcrumb-item{% if not beforeLast %} d-none d-sm-flex{% endif %}">
          <a href="{{ item.href }}">{{ item.label }}</a>
        </li>
      {% endif %}
    {%- endfor -%}
  </ol>
</nav>
