{% macro navLink(link, class) %}
{% set strictlyActive = page.url == link.href %}
{% set active = strictlyActive or link.href in page.url and not link.href | isHomeUrl %}

{% set current = "page" if strictlyActive else "true" %}

<a href="{{ link.href }}" class="nav-link{{ " " + class if class }}{% if active %} active" aria-current="{{ current }}"{% else %}"{% endif %}>
  {{ link.label }}
</a>
{% endmacro %}

{% macro cardNavigation(links) %}
<div class="card-deck flex-column flex-md-row">
{%- for link in links -%}
{% set isLast = loop.index == links | length %}
  <div class="card bg-{{ link.theme }} border-secondary {{ "mb-0" if isLast else "mb-4 mb-md-0" }}">
    <div class="p{% if link.icon.name == "editorial-content" %}t{% else %}y{% endif %}-3 px-3 text-center">
      <img src="../images/icons/{{ link.icon.name }}.svg" alt="" class="img-fluid" width="{{ link.icon.width }}" height="{{ link.icon.height }}">
    </div>
    <div class="card-body bg-dark">
      <h3 class="card-title text-primary{% if not link.abstract %} mb-0{% endif %}">
        <a href="{{ link.href }}" class="text-primary stretched-link">{{ link.label }}</a>
      </h3>
      {% if link.abstract %}
        <p class="card-text">
          {{ link.abstract }}
        </p>
      {% endif %}
    </div>
  </div>
{%- endfor -%}
</div>
{% endmacro %}

{% macro lastPosts(posts, max) %}
<ol class="list-unstyled row">
  {%- for post in posts | reverse | limit(max) -%}
    <li class="col-md-4 pb-3 d-flex">
      <article class="bg-white p-3 flex-grow-1">
        <h3 class="mb-1">
          <a href="{{ post.url }}" class="text-decoration-none">{{ post.data.title }}</a>
        </h3>
        {% if post.date %}
          <time class="text-muted" datetime="{{ post.date.toISOString() }}">{% localizedDate post.date, locale %}</time>
        {% endif %}
        {% if post.data.abstract %}
          <p class="my-2">{{ post.data.abstract }}</p>
        {% endif %}
      </article>
    </li>
  {%- endfor -%}
</ol>
{% endmacro %}

{% macro postsList(posts, filters = true, displayDate = true, displayTags = true) %}
{% if filters == true %}
  {{ filtersBar(posts) }}
{% endif %}
<ol class="list-unstyled">
{%- for post in posts %}{% if page.url != post.url -%}
  {% set tags = post.data.tags %}

  <li class="border-bottom border-500 py-3"{% if tags %} data-tags="{{ tags | join(";") }}"{% endif %}>
    <article>
      <h2 class="mb-1">
        <a href="{{ post.url }}" class="text-decoration-none">{{ post.data.title }}</a>
      </h2>
      {% if displayDate == true and post.date %}
        <time class="text-muted" datetime="{{ post.date.toISOString() }}">{% localizedDate post.date, locale  %}</time>
      {% endif %}
      {% if post.data.abstract %}
        <p class="my-2">{{ post.data.abstract }}</p>
      {% endif %}
      {% if displayTags == true and tags %}
        <ul class="list-inline">
          {%- for tag in tags -%}
            <li class="list-inline-item">
              <a href="?tag={{ tag }}" class="badge badge-secondary">
                <span class="sr-only">{% translate "filtersBar.label", locale %}&nbsp;</span>{% translate "tags." + tag, locale %}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    </article>
  </li>
{% endif %}{%- endfor -%}
</ol>
{% endmacro %}

{% macro componentsExamplesList(posts) %}
  {{ postsList(posts, false, false, false) }}
{% endmacro %}

{% macro filtersBar(posts) %}
{% set tags = posts | getPostsTags %}
<nav id="filtersbar" class="hidden-if-no-js o-nav-local navbar-light mb-4 d-flex align-items-center" aria-labelledby="filtersbar_label" role="navigation">
  <h2 id="filtersbar_label" class="h6 mb-0 pr-3">{% translate "filtersBar.label", locale %} :</h2>
  <ul class="nav">
    <li class="nav-item">
      <a href="?all" class="nav-link" data-tag="all">
        <span class="sr-only">{% translate "filtersBar.label", locale %}&nbsp;</span>{% translate "filtersBar.all", locale %}
      </a>
    </li>
    {%- for tag in tags -%}
      <li class="nav-item">
        <a href="?tag={{ tag }}" class="nav-link" data-tag="{{ tag }}">
          <span class="sr-only">{% translate "filtersBar.label", locale %}&nbsp;</span>{% translate "tags." + tag, locale %}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
{% endmacro %}

{% macro toc() %}
{%- set headings = content | getHeadingsForToc -%}
{%- if headings | length > 0 -%}
  <nav id="toc" class="bg-200 p-3" role="navigation" aria-labelledby="toc-title">
    <h2 id="toc-title">{% translate "toc.title", locale %}</h2>
    <ul class="nav flex-column">
      {%- for heading in headings -%}
        <li class="nav-item position-relative">
          <a href="#{{ heading.id }}" class="nav-link text-muted bg-200">{{ heading.text }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
{%- endif -%}
{% endmacro %}

{% macro sideNavigation() %}
<nav id="side-navigation" role="navigation" aria-labelledby="side-navigation-label">
  <h2 id="side-navigation-label" class="sr-only">{% translate "navigation.side.label", locale %}</h2>
  <ul class="nav flex-column">
    {%- for link in sideNavigationLinks -%}
      <li class="nav-item position-relative">
        {{ navLink(link, "text-muted") }}
      </li>
    {%- endfor -%}
  </ul>
</nav>
{% endmacro %}

{% macro glossaryList() %}
<dl class="Glossary">
  {%- for key, value in glossary -%}
    {%- if (locale == "fr" and key != "ASSISTIVE TECHNOLOGIES") or (locale == "en" and key != "AIDES TECHNIQUES") -%}
      <dt class="py-2 pl-2 text-right">{{ key }}</dt>
      <dd class="py-2 pr-2 pl-3 mb-0">{{ value.base | safe }}{{ ", " + value[locale] | safe if value[locale] }}</dd>
    {%- endif -%}
  {%- endfor -%}
</dl>
{% endmacro %}
