{%- macro navLink(link, class, forceStrictlyActive = false) -%}
{%- set strictlyActive = page.url == link.href -%}

{%- if forceStrictlyActive == true -%}
  {%- set active = strictlyActive -%}
{%- else -%}
  {%- set active = strictlyActive or link.href in page.url and not link.href | isHomeUrl -%}
{%- endif -%}

{%- set current = "page" if strictlyActive else "true" -%}

<a href="{{ link.href }}" class="nav-link{{ " " + class if class }}{% if active %} active" aria-current="{{ current }}"{% else %}"{% endif %}>
  {{ link.label }}
</a>
{%- endmacro -%}

{%- macro cardNavigation(links) -%}
<div class="card-deck flex-column flex-md-row">
{%- for link in links -%}
{%- set isLast = loop.index == links | length -%}
  <div class="card bg-{{ link.theme }} border-secondary {{ "mb-0" if isLast else "mb-4 mb-md-0" }}">
    <div class="p{% if link.icon.name == "editorial-content" %}t{% else %}y{% endif %}-3 px-3 text-center">
      <img src="../images/icons/{{ link.icon.name }}.svg" alt="" class="img-fluid" width="{{ link.icon.width }}" height="{{ link.icon.height }}">
    </div>
    <div class="card-body bg-dark">
      <h3 class="card-title text-primary{% if not link.abstract %} mb-0{% endif %}">
        <a href="{{ link.href }}" class="text-primary stretched-link">{{ link.label }}</a>
      </h3>
      {% if link.abstract %}
        <p class="card-text">
          {{ link.abstract }}
        </p>
      {% endif %}
    </div>
  </div>
{%- endfor -%}
</div>
{%- endmacro -%}

{%- macro lastPosts(posts, max) -%}
<ol class="list-unstyled row">
  {%- for post in posts | reverse | limit(max) -%}
    <li class="col-md-4 pb-3 d-flex">
      <article class="bg-white p-3 flex-grow-1">
        <h3 class="mb-1">
          <a href="{{ post.url }}" class="text-decoration-none">{{ post.data.title }}</a>
        </h3>
        {% if post.date %}
          <time class="text-muted" datetime="{{ post.date.toISOString() }}">{% localizedDate post.date, locale %}</time>
        {% endif %}
        {% if post.data.abstract %}
          <p class="my-2">{{ post.data.abstract }}</p>
        {% endif %}
      </article>
    </li>
  {%- endfor -%}
</ol>
{%- endmacro -%}

{%- macro postsList(posts, filters = true, displayDate = true, displayTags = true) -%}
{% if filters == true %}
  {{ filtersBar(posts) }}
{% endif %}
<ol class="list-unstyled">
{%- for post in posts %}{% if page.url != post.url -%}
  {% set tags = post.data.tags %}

  <li class="border-bottom border-500 py-3"{% if tags %} data-tags="{{ tags | join(";") }}"{% endif %}>
    <article>
      <h2 class="mb-1">
        <a href="{{ post.url }}" class="text-decoration-none">{{ post.data.title }}</a>
      </h2>
      {% if displayDate == true and post.date %}
        <time class="text-muted" datetime="{{ post.date.toISOString() }}">{% localizedDate post.date, locale  %}</time>
      {% endif %}
      {% if post.data.abstract %}
        <p class="my-2">{{ post.data.abstract }}</p>
      {% endif %}
      {% if displayTags == true and tags %}
        <ul class="list-inline">
          {%- for tag in tags -%}
            {%- set tagTranslationKey = 'tags.' + tag -%}
            <li class="list-inline-item">
              <a href="?tag={{ tag }}" class="badge badge-secondary">
                <span class="sr-only">{{ 'filtersBar.label' | translate }}&nbsp;</span>{{ tagTranslationKey | translate }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      {% endif %}
    </article>
  </li>
{% endif %}{%- endfor -%}
</ol>
{%- endmacro -%}

{%- macro componentsExamplesList(posts) -%}
  {{ postsList(posts, false, false, false) }}
{%- endmacro -%}

{%- macro filtersBar(posts) -%}
{% set tags = posts | getPostsTags %}
<nav id="filtersbar" class="hidden-if-no-js o-nav-local navbar-light mb-4 d-flex align-items-center" aria-labelledby="filtersbar_label" role="navigation">
  <h2 id="filtersbar_label" class="h6 mb-0 pr-3">{{ 'filtersBar.label' | translate }} :</h2>
  <ul class="nav">
    <li class="nav-item">
      <a href="?all" class="nav-link" data-tag="all">
        <span class="sr-only">{{ 'filtersBar.label' | translate }}&nbsp;</span>{{ 'filtersBar.all' | translate }}
      </a>
    </li>
    {%- for tag in tags -%}
      {%- set tagTranslationKey = 'tags.' + tag -%}
      <li class="nav-item">
        <a href="?tag={{ tag }}" class="nav-link" data-tag="{{ tag }}">
          <span class="sr-only">{{ 'filtersBar.label' | translate }}&nbsp;</span>{{ tagTranslationKey | translate }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
{%- endmacro -%}

{%- macro toc(mode = "list") -%}
{%- set headings = content | getHeadingsForToc -%}
{%- if headings | length > 0 -%}
  {%- if mode == "list" -%}
    <nav id="toc" class="bg-200 p-3 d-none d-md-block" role="navigation" aria-labelledby="toc-title">
      <h2 id="toc-title">{{ 'toc.title' | translate }}</h2>
      <ul class="nav flex-column">
        {%- for heading in headings -%}
          <li class="nav-item position-relative">
            <a href="#{{ heading.id }}" class="nav-link text-muted bg-200">{{ heading.text }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- elseif mode == "mobile" -%}
    <nav id="mobile-toc" class="dropdown d-md-none" role="navigation" aria-labelledby="mobile-toc-dropdown-handler">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="mobile-toc-dropdown-handler" data-toggle="dropdown" aria-expanded="false">
        {{ 'toc.title' | translate }}
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        {%- for heading in headings -%}
          <a href="#{{ heading.id }}" class="dropdown-item text-wrap">{{ heading.text }}</a>
        {%- endfor -%}
      </div>
    </nav>
  {%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro sideNavigation(mode = "list") -%}
{% if sideNavigationLinks | length > 0 %}
  {%- if mode == "list" -%}
    <nav id="side-navigation" class="d-none d-md-block" role="navigation" aria-labelledby="side-navigation-label">
      <h2 id="side-navigation-label">{{ 'navigation.side.label' | translate }}</h2>
      <ul class="nav flex-column">
        {%- for link in sideNavigationLinks -%}
          <li class="nav-item position-relative">
            {{ navLink(link, "text-muted", true) }}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- elseif mode == "mobile" -%}
    <nav id="mobile-side-navigation" class="dropdown d-md-none" role="navigation" aria-labelledby="mobile-side-navigation-handler">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="mobile-side-navigation-handler" data-toggle="dropdown" aria-expanded="false">
        {{ 'navigation.side.label' | translate }}
      </button>
      <div class="dropdown-menu dropdown-menu-left">
        {%- for link in sideNavigationLinks -%}
          {{ navLink(link, "dropdown-item", true) }}
        {%- endfor -%}
      </div>
    </nav>
  {%- endif -%}
{%- endif -%}
{%- endmacro -%}

{%- macro glossaryList() -%}
<dl class="Glossary">
  {%- for key, value in glossary -%}
    {%- if (locale == "fr" and key != "ASSISTIVE TECHNOLOGIES" and key != "LARGE TEXT") or (locale == "en" and key != "AIDES TECHNIQUES" and key != "TEXTE DE GRANDE TAILLE") -%}
      <dt id="{{ key | slugify }}" class="py-2 pl-2 text-right">{{ key }}</dt>
      <dd class="py-2 pr-2 pl-3 mb-0">{{ value.base | safe }}{{ ", " + value[locale] | safe if value[locale] }}</dd>
    {%- endif -%}
  {%- endfor -%}
</dl>
{%- endmacro -%}

{%- macro changelang(mode) -%}
{%- if mode == "supra" -%}
<nav role="navigation" aria-label="{{ 'changelang.label' | translate }}">
  <ul class="navbar-nav">
    {%- for key, lang in site.locales -%}
      {% set active = locale == lang.code %}
      <li class="nav-item">
        <a href="/{{ lang.code }}/" class="nav-link{% if active %} active" aria-current="true"{% else %}"{% endif %} lang="{{ lang.code }}">
        {{ lang.displayName | capitalize }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
{%- elseif mode == "mobile" -%}
<li class="nav-item d-md-none">
  <span class="sr-only">{{ 'changelang.label' | translate }}</span>
  <ul class="d-flex list-inline">
    {%- for key, lang in site.locales -%}
      {% set active = locale == lang.code %}
      <li class="list-inline-item flex-grow-1">
        <a href="/{{ lang.code }}/" class="nav-link{% if active %} active" aria-current="true"{% else %}"{% endif %} lang="{{ lang.code }}">
        {{ lang.displayName | capitalize }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</li>
{%- endif -%}
{%- endmacro -%}
