<aside id="filter">
  <h2>{{ 'wcagFilters.title' | translate }}</h2>
  <div id="feedback" aria-live="polite"></div>
  <h3>{{ 'wcagFilters.profiles' | translate }}</h3>
  <ul id="profils" class="list-unstyled"></ul>
  <h3>{{ 'wcagFilters.tools' | translate }}</h3>
  <ul id="types" class="list-unstyled"></ul>
  <div id="filter-footer"></div>
</aside>
