<aside id="filter">
  <h2>{% translate "wcagFilters.title", locale %}</h2>
  <div id="feedback"></div>
  <h3>{% translate "wcagFilters.profiles", locale %}</h3>
  <ul id="profils" class="list-unstyled"></ul>
  <h3>{% translate "wcagFilters.tools", locale %}</h3>
  <ul id="types" class="list-unstyled"></ul>
  <div id="filter-footer"></div>
</aside>
