---
title: "Exemple de formulaire"
abstract: "Exemple de formulaire accessible."
tags: componentsExamples_fr
css:
- style.css
js:
- script.js
---

<h1>Exemples de formulaire</h1>

<h2>Préambule</h2>
<p>Pour qu’un formulaire soit accessible à l’ensemble des utilisateurs, quelques règles doivent être respectées lors du
  développement. C’est ce que nous allons voir en détail dans l’exemple de formulaire accessible.</p>

<h2>Exemple de formulaire accessible</h2>

<p>Dans cet exemple, nous avons utilisé <a href="http://boosted.orange.com/">la librairie Boosted</a>. Celle-ci permet
  d’obtenir des formulaires dont le design est conforme à la charte Orange. Nous utilisons également du javascript pour les contrôles de saisie.</p>

<div class="row pb-3">
  <div class="col-md-8">
    <form id="formulaire" onsubmit="return validateMyForm();" class="border border-secondary p-3 mt-2">
      <div class="form-group">
        <fieldset>
          <legend>Couleur</legend>
          <div class="form-check form-check-inline">
            <input type="radio" id="blanc" name="couleur" class="form-check-input" checked>
            <label class="form-check-label" for="blanc">Blanc</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" id="noir" name="couleur" class="form-check-input">
            <label class="form-check-label" for="noir">Noir</label>
          </div>
        </fieldset>
      </div>
      <div class="mb-3">
        <label for="numero-serie">Veuillez saisir le numéro de série *</label>
        <input placeholder="Exemple: TS-4521" type="text" name="serie" data-displayname="numéro de série"
               class="form-control" id="numero-serie" aria-describedby="helpblock" aria-required="true">
        <label id="numero-serie-error" class="error" for="numero-serie" style="display: none;"></label>
      </div>
      <p id="helpblock" class="help-block">Numéro de série commençant par «&nbsp;TS-&nbsp;» suivi de 4 chiffres.</p>

      <div class="mb-3">
        <label for="adresse">Adresse *</label>
        <input type="text" name="adresse" data-displayname="adresse" class="form-control" id="adresse"
               aria-required="true">
        <label id="adresse-error" class="error" for="adresse" style="display: none;"></label>
        <label class="visually-hidden" for="complement">Complément d’adresse</label>
        <input type="text" class="form-control mt-2" id="complement">
      </div>
      <div class="mb-3">
        <label for="telephone">Téléphone *</label>
        <input type="text" name="telephone" data-displayname="téléphone" class="form-control" id="telephone"
               aria-required="true">
        <label id="telephone-error" class="error" for="telephone" style="display: none;"></label>
      </div>
      <button id="envoyer" type="submit" class="btn btn-secondary">Envoyer</button>
    </form>
  </div>
</div>

<h2>Mise en place</h2>
<h3>Étiqueter les champs de formulaire</h3>
<p>Tous les éléments de formulaire doivent être étiquetés avec un libellé pertinent, donc qui, spécifiquement, informe sur le contenu attendu dans le champ, le bouton, le bouton radio la case à cocher ou la liste déroulante. Ainsi, le lecteur d’écran vocalisera automatiquement le libellé du champ de formulaire lors de la sélection de l'élément de formulaire lors de la navigation.</p>
<p>De plus, les étiquettes (<code>label</code>) doivent être le moins possible éloignées visuellement de leur champ afin de faciliter leur association (notamment par les malvoyants, déficients cognitifs, les utilisateurs ayant des troubles de l'attention ou de la concentration).</p>
<p>Il existe plusieurs solutions pour étiqueter un champ de formulaire (autre qu'un bouton).</p>

<h4>Utilisation d’une balise <code>label</code></h4>
<p>Il s’agit de la solution standard, à utiliser en priorité, pour étiqueter un champ de formulaire, la mieux supportée par les outils d’assistance.</p>
<p>Utiliser une balise <code>label</code> et renseigner son attribut <code>for</code> avec l’<code>id</code> du champ de formulaire auquel elle est associée. C’est important pour les utilisateurs de lecteurs d’écran, mais cela permet également d’améliorer l’ergonomie du formulaire. En effet, lorsque le label est correctement associé à son champ de formulaire, il devient possible de cocher une case à cocher ou de sélectionner un bouton radio en cliquant directement sur son label et vu la taille par défaut de ces éléments, c'est bien pratique.</p>
<pre><code class="html">
        &lt;input type="checkbox" <span class="important">id="cgu"</span>&gt;
        &lt;label <span class="important">for="cgu"</span>&gt;Veuillez accepter les &lt;abbr&gt;CGU&lt;/abbr&gt;.&lt;/label&gt;
  </code></pre>

<p>Dans de rares cas, il peut s’avérer qu’il ne soit pas nécessaire d’afficher un libellé car sa fonction est grâce au contexte, évidente (champ de recherche proche du bouton avec l'icône loupe, la case à cocher pour sélectionner une ligne de tableau, par exemple). Prévoir tout de même un libellé pour les lecteurs d’écran et le masquer en utilisant une des 3 méthodes suivantes.</p>

<h4>Classe <abbr>CSS</abbr> de masquage accessible</h4>
<p>C’est la méthode utilisée sur le second champ de saisie de l’adresse dans cet exemple de formulaire accessible
  (utilisation de la classe <code>visually-hidden</code> de Bootstrap/Boosted).</p>

<p><strong>Code <abbr>CSS</abbr></strong></p>
<pre><code class="css">
  .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap; /* added line */
        border: 0;
  }
  </code></pre>

<p><strong>Code <abbr>HTML</abbr></strong></p>
<pre><code class="html">
  &lt;label for="adresse"&gt;Adresse *&lt;/label&gt;
  &lt;input name="adresse" data-displayname="adresse" class="form-control" id="adresse" aria-required="true" type="text"&gt;
  <strong>&lt;label <span class="important">class="visually-hidden"</span> for="complement"&gt;Complément d’adresse&lt;/label&gt;
  &lt;input class="form-control" id="complement" type="text"&gt;</strong>
  </code></pre>

<p>L’utilisation du masquage accessible permet de masquer l’élément à l’écran tout en conservant sa vocalisation par les outils ou technologies d’assistance (<abbr>AT</abbr>). Attention, ne pas utiliser du masquage <abbr>CSS</abbr> classique (<code>display: none;</code> ou <code>visibility: hidden;</code>) car l’élément sera masqué également pour les lecteurs d’écran.</p>
<p>Consultez <a href="../masquage-accessible/">l’exemple sur le masquage accessible</a> pour plus l’information.</p>

<h4>Utilisation d’un attribut <code>title</code></h4>
<p>L’attribut <code>title</code> n’est pas suffisamment robuste utile pour l’accessibilité sauf dans ce cas précis, en permettant d’étiqueter un champ de formulaire de manière accessible. Il déclenchera également l’affichage d’une info-bulle au survol de l’élément avec la souris, bonne chose pour les déficients cognitifs, les malvoyants.</p>
<pre><code class="html">
  &lt;input type="text" title="Rechercher dans le catalogue"&gt;
  </code></pre>
<p><strong>À noter&nbsp;:</strong> l’attribut <code>title</code> positionné ailleurs que sur un champ de formulaire (par exemple sur une image) ne fournit aucune garantie que son contenu sera vocalisé par un lecteur d’écran.</p>

<h4>Utilisation d’attributs <abbr>ARIA</abbr> <code>aria-label</code> ou <code>aria-labelledby</code></h4>
<p>Les attributs <code>aria-label</code> et <code>aria-labelledby</code> peuvent être utilisés pour étiqueter des champs de formulaire et leur support est bon dans les navigateurs et dans les <abbr>AT</abbr> récentes&nbsp;:</p>
<ul>
  <li>L’attribut <code>aria-labelledby</code> permet de préciser l’<code>id</code> d’un élément présent dans le code qui sera utilisé pour étiqueter le champ.
  </li>
  <li>L’attribut <code>aria-label</code> permet de préciser directement un label sous forme d’une chaîne de caractères.
  </li>
</ul>

<pre><code class="html">
  &lt;span id="label-adress"&gt;Adresse *&lt;/span&gt;
  &lt;input type="text" aria-labelledby="label-adress"&gt;
  &lt;input type="text" aria-label="complément d’adresse"&gt;
  </code></pre>

<h3>Le <code>placeholder</code> et le <code>label</code></h3>
<p>L’attribut <code>placeholder</code> ne peut pas être utilisé à la place d’un <code>label</code>. En effet&nbsp;:</p>
<ul>
  <li>le texte du <code>placeholder</code> qui s’affiche dans le champ n’est généralement pas assez contrasté&nbsp;;
  </li>
  <li>il s’efface à la saisie du contenu dans le champ (entraîne des difficultés en cas de déficience
    cognitive)&nbsp;;
  </li>
  <li>le <code>placeholder</code> n’est pas toujours lu par les aides techniques&nbsp;;</li>
  <li>il empêche l’utilisateur de vérifier la saisie avant de valider s’il est utilisé à la place du label&nbsp;;</li>
  <li>il rend les corrections difficiles en cas d’erreur s'il n'existe pas de label affiché&nbsp;;</li>
  <li>il rend les champs de saisie moins visibles que ceux sans <code>placeholder</code>.</li>
</ul>
<p>En revanche, le <code>placeholder</code> peut servir de guide, d’aide pour remplir le champ sans que cette
  information soit absolument nécessaire (par exemple, proposer une valeur attendue valide)&nbsp;: ne pas hésiter à
  l’utiliser pour ce type de besoin.</p>
<div class="form-group">
  <label for="numero-serie2">Veuillez saisir le numéro de série *</label>
  <input type="text" name="serie" data-displayname="numéro de série" class="form-control" id="numero-serie2"
         aria-describedby="helpblock" aria-required="true" placeholder="exemple : TS-0000">
</div>
<pre><code class="html">
  &lt;div class="mb-3"&gt;
        &lt;label for="numero-serie"&gt;Veuillez saisir le numéro de série *&lt;/label&gt;
        &lt;input type="text" name="serie" data-displayname="numéro de série" class="form-control" id="numero-serie" aria-describedby="helpblock"
        aria-required="true" placeholder="exemple : TS-0000"&gt;
  &lt;/div&gt;
</code></pre>

<h3>Utilisation de l'attribut <code>autocomplete</code></h3>
<p>Pour tout champ dont le type est listé dans <a lang="en" href="https://www.w3.org/TR/WCAG21/#input-purposes">7. Input
    Purposes for User Interface Components</a>, il faut remplir l'attribut <code>autocomplete</code> du champ avec la
  valeur adéquate.</p>
<div class="form-group">
  <label for="lname">Nom de famille :</label>
  <input id="lname" type="text" autocomplete="family-name" class="form-control">
  <label for="cc-num">Numéro de carte de crédit :</label>
  <input type="text" id="cc-num" autocomplete="cc-number" class="form-control">
</div>
<pre><code class="html">
  &lt;div class="mb-3"&gt;
        &lt;label for="lname"&gt;Nom de famille :&lt;/label&gt;
        &lt;input id="lname" type="text" <span class="important">autocomplete="family-name"</span> class="form-control"&gt;
        &lt;label for="cc-num"&gt;Numéro de carte de crédit :&lt;/label&gt;
        &lt;input type="text" id="cc-num" <span class="important">autocomplete="cc-number"</span> class="form-control"&gt;
  &lt;/div&gt;
</code></pre>

<h3>Préciser les champs obligatoires</h3>
<p>Il faut, bien sûr, clairement indiquer pour tout utilisateur le fait qu’un champ soit obligatoire. Ceci en utilisant un signe distinctif (mention, pictogramme, image, etc.) mais aussi avec un simple texte (par exemple, «&nbsp;obligatoire&nbsp;») dans le <code>label</code> du champ. Ajouter, si besoin, une mention au début du formulaire pour indiquer que le symbole ou le pictogramme en question signale un champ obligatoire.</p>
<p>Les champs obligatoires doivent aussi être indiqués dans le code à l’aide de l’attribut <abbr>HTML5</abbr> <code>required</code> ou de l’attribut <abbr>ARIA</abbr> <code>aria-required</code> notamment pour les déficients visuels. Leur support par les <abbr>AT</abbr> est maintenant suffisant pour que l'on utilise indifféremment l'un ou l'autre mais pas les deux en même temps.</p>

<pre><code class="html">
&lt;input type="text" name="telephone" required&gt;
&lt;input type="text" name="telephone" aria-required="true"&gt;
</code></pre>

<h4>Cas particulier des radio-boutons obligatoires</h4>
<p>Pour indiquer à un utilisateur d'<abbr>AT</abbr> qu'une série de radio-boutons est obligatoire, vous pouvez tout à fait ajouter un <code>aria-required="true"</code> ou un <code>required</code> sur chacun d'entre eux. Cependant, une autre solution est envisageable, utiliser le <code>role="radiogroup"</code> sur l'élément contenant les radio-boutons. Ici, on utilise, en plus, un <code>aria-labelledby</code> afin de donner une étiquette (nom accessible) pertinente à ce <code>radiogroup</code>.</p>

<pre><code class="html">
&lt;p id="radio1-desc"&gt;Choisissez une couleur de T-shirt.&lt;/p&gt;
&lt;div role="radiogroup" aria-required="true" aria-labelledby="radio1-desc"&gt;
  &lt;input type="radio" name="radio1" id="radio1-0"&gt;
  &lt;label for="radio1-0"&gt;Votre T-shirt en rouge&lt;/label&gt;
  &lt;input type="radio" name="radio1" id="radio1-1"&gt;
  &lt;label for="radio1-1"&gt;Votre T-shirt en bleu&lt;/label&gt;
&lt;/div&gt;
</code></pre>

<h3>Préciser le type ou le format attendu</h3>
<p>Lorsque c’est nécessaire, préciser pour tous les utilisateurs, dans le <code>label</code> du champ, le type ou le format de la donnée attendu. Pour que cette information soit vocalisée automatiquement par les lecteurs d’écran, vous préférerez mettre ces informations directement dans la balise <code>label</code>&nbsp;; sinon utiliser un attribut <code>aria-describedby</code> pour référencer du texte visuellement présent dans la page mais hors du <code>label</code>.</p>
<pre><code class="html">
&lt;div class="mb-3"&gt;
      &lt;label for="numero-serie"&gt;Veuillez saisir le numéro de série *&lt;/label&gt;
      &lt;input type="text" id="numero-serie" <span class="important">aria-describedby="helpblock"</span> aria-required="true"&gt;ll
&lt;/div&gt;
&lt;span <span class="important">id="helpblock"</span> class="help-block"&gt;Numéro de série commençant par "TS-" suivi de 4 chiffres (exemple: "TS-4521").&lt;/span&gt;
</code></pre>

<h3>L'étiquette visuelle du champ et son nom (accessible)</h3>
<p>On peut modifier le nom accessible d'un élément de formulaire, donc ce qui sera restitué aux <abbr>AT</abbr>, pour en savoir plus sur <a href="../../../articles/le-nom-accessible-en-html/">le nom accessible en HTML</a>. Cependant, il ne faut pas que des éléments dont on a modifié le nom accessible soit différents de l'étiquette/intitulé affiché car cela empêche leur utilisation pour des <abbr>AT</abbr> de commande vocale notamment. Le nom accessible et l'étiquette/intitulé doivent avoir des valeurs identiques ou, au moins, le texte de l'étiquette/intitulé doit commencer par la valeur du nom accessible.</p>

<h3>Déplacer le focus automatiquement lors de l'apparition d'un nouveau champ</h3>
<p>Il est parfois tentant, lors de l'activation d'un champ spécifique (par exemple, un bouton radio "Autre, précisez..."), de faire apparaître un nouveau champ tout en y mettant le focus automatiquement. C'est problématique en ce qui concerne l'accessibilité à deux égards&nbsp;:</p>
<ul>
  <li>Tout d'abord, ce champ qui apparaît, suite à l'activation d'un élément de formulaire par l'utilisateur, doit venir se placer dans le code et visuellement juste après l'élément qui l'a déclenché donc doit être l'élément suivant à la navigation clavier. Si il n'est pas positionné juste après le déclencheur, il faut explicitement prévenir l'utilisateur.</li>
  <li>Le focus ne doit pas automatiquement pointer dans ce nouveau champ car c'est imprévisible pour certains utilisateurs. Deux solutions, ne pas pousser automatiquement le focus dans ce champ ou prévenir l'utilisateur avant le déplacement du focus.</li>
</ul>

<h3>Regrouper les informations de même nature</h3>
<p>Les champs de même nature doivent être regroupés, si nécessaire (champs ayant la même étiquette ou étiquette
  insuffisante à elle seule pour comprendre quelles données entrer), à l’aide d’une balise <code>fieldset</code>. Le <code>fieldset</code> doit également posséder comme premier enfant une légende explicite (balise <code>legend</code>).
  Le <code>fieldset/legend</code> est nécessaire, notamment, lorsque la légende est utile à la compréhension ou l’individualisation (différencier des <code>label</code> identiques dans un même formulaire) des balises <code>label</code> incluses dans le <code>fieldset</code>.</p>
  
<pre><code class="html">
&lt;fieldset&gt;
      &lt;legend&gt;Couleur du capot de votre téléphone&lt;/legend&gt;
      &lt;input type="radio" name="couleur" id="blanc" checked&gt;
      &lt;label for="blanc"&gt;Blanc&lt;/label&gt;
      &lt;input type="radio" name="couleur" id="noir"&gt;
      &lt;label for="noir"&gt;Noir&lt;/label&gt;
&lt;/fieldset&gt;
</code></pre>

<pre><code class="html">
&lt;fieldset&gt;
      &lt;legend&gt;Adresse de livraison&lt;/legend&gt;
      &lt;label for="nom"&gt;Contact&lt;/label&gt;
      &lt;input type="text" id="nom"&gt;
      &lt;label for="adresse"&gt;Adresse&lt;/label&gt;
      &lt;input type="text" id="adresse"&gt;
      &lt;label for="ville"&gt;Ville&lt;/label&gt;
      &lt;input type="text" id="ville"&gt;
&lt;/fieldset&gt;

&lt;fieldset&gt;
      &lt;legend&gt;Adresse de facturation&lt;/legend&gt;
      &lt;label for="nom1"&gt;Contact&lt;/label&gt;
      &lt;input type="text" id="nom1"&gt;
      &lt;label for="adresse1"&gt;Adresse&lt;/label&gt;
      &lt;input type="text" id="adresse1"&gt;
      &lt;label for="ville1"&gt;Ville&lt;/label&gt;
      &lt;input type="text" id="ville1"&gt;
&lt;/fieldset&gt;
</code></pre>

  <h4>Cas particulier d'une même donnée ventilées dans plusieurs champs</h4>
  <p>Par exemple, pour entrer une date sous forme de 3 champs, un pour le jour, un pour le mois et un pour l’année, voici une solution possible&nbsp;:</p>
  
  plutôt  fieldset / legend + aria-describedby pointant sur id du legend (pour assurer + de support du legend )  ???

  <pre><code class="html">
      &lt;label for="jourNaissance"&gt;Date de naissance&lt;/label&gt;
      &lt;input type="text" id="jourNaissance" aria-label="jour de naissance (JJ)"&gt;
      &lt;input type="text" id="adresse" aria-label="mois de naissance (MM)"&gt;
      &lt;input type="text" id="ville" aria-label="année de naissance (AAAA)"&gt;
  </code></pre>

<h3>Contrôle de saisie et message d'erreur</h3>
<p>Lors de la validation, si des champs obligatoires ne sont pas renseignés, ou si le format de la donnée saisie n’est pas valide, il faut prévenir l’utilisateur.</p>

<h4>Modifier le titre de page, le <code>title</code></h4>
<p>Le titre de la page doit refleter le contenu de celle-ci, donc, lorsqu'un formulaire génère des erreurs d'entrée, il faut l'annoncer à l'utilisateur via une modification du <code>title</code>. Il faut modifier dynamiquement le titre de page pour indiquer que le formulaire est en erreur et le nombre d'erreur commises (par exemple&nbsp;: "4 erreurs dans le formulaire d'inscription - Accueil Orange.com").</p>


<h4>Utiliser l’attribut <code>aria-invalid</code> pour indiquer une erreur de saisie.</h4>
<p>Indiquer dans le code les champs en erreur.</p>
<pre><code class="html">
&lt;input type="text" name="telephone" <span class="important">aria-invalid="true"</span>&gt;
</code></pre>
<h4>Annoncer dans une bannière que le formulaire est incomplet ou qu'il existe des erreurs</h4>
<p>Pour remonter globalement les erreurs, l'impossibilité de valider un formulaire car des champs obligatoires ne sont pas remplis ou tout autre retour général d'erreur suite à l'entrée de données dans un formulaire, la solution à privilégier est un message d'alerte (dit aussi, selon les cas, de statut, d'état ou contextuel) constitué d'une bannière affichée en haut du formulaire, visible, répertoriant le nombre total d'erreurs à corriger, la liste de celle-ci, une identification précise du champ en erreur du type d'erreur (le nom est obligatoire, le numéro téléphone doit contenir 10 chiffres, par exemple) et si besoin des suggestions de corrections (une date valide&nbsp;: 11/02/2022, les numéros de série sont de la forme TS-XXX XXX, par exemple).</p>
<p> Pour ce message d'alerte, le focus doit être mis sur le titre du message (s'il existe, sinon, sur la première erreur de la liste), et chaque erreur doit avoir un lien vers le champ incriminé. De plus, pour que le contenu complet du message soit annoncé aux utilisateur d'<abbr>AT<abbr> sans prise de focus, on utilise le rôle <abbr>ARIA</abbr> <code>alert</code>. Ce type de message permet, même aux utilisateurs de technologies d'assistance (<abbr>AT</abbr>) d'être notifié du message lors de la non validation du formulaire.</p>

<pre><code class="html">
      &lt;div role="alert"&gt;
            &lt;h2&gt;Deux erreurs dans le formulaire&lt;/h2&gt;
            &lt;ul&gt;
                  &lt;li&gt;
                        &lt;a href="#nom" id="nom_error"&gt;
                              Le Nom de famille est un champ obligatoire, merci de le remplir.
                        &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                        &lt;a href="#date" id="date_error"&gt;
                              Le champ Date de naissance doit respecter le format JJ/MM/AAAA, par exemple 13/07/2008.
                        &lt;/a&gt;
                  &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
</code></pre>

<h4>Avertir l’utilisateur au niveau du champ (en ligne) en cas d’erreur de saisie</h4>
<p>Si des erreurs de saisie empêchent la validation du formulaire, plutôt que de lister les erreurs au début du formulaire dans une bannière (voir ci-dessus), on peut, pour chaque champ en erreur avertir l’utilisateur localement en ligne. Bien souvent des messages apparaissent à l’écran, cependant par défaut ils ne sont pas vocalisés au lecteur d’écran. Une des solutions consiste à déplacer automatiquement le focus dans le premier champ en erreur. Ceci aura pour effet de faire vocaliser le ou les libellés ou étiquettes du champ de saisie en question dans le ou lesquels le type erreur sera précisé (la date d'inscription est obligatoire, le numéro de sécurité sociale doit contenir 13 chiffres, par exemple) et si besoin des suggestions de corrections (un code valide&nbsp;: 1234-5678, le marquage produit est de la forme 1111-XXX-YYYY, par exemple).</p>
<p>Dans cet exemple de formulaire accessible, les messages d’erreurs sont déclarés comme des <code>label</code> et sont associés aux champs de saisie. Ainsi, lorsque le focus arrive dans un champ, le lecteur d’écran vocalise le libellé du champ puis le message d’erreur associé.</p>


<pre><code class="html">
&lt;label <span class="important">for="numero-serie"</span>&gt;Veuillez saisir le numéro de série *&lt;/label&gt;
&lt;input aria-invalid="true" class="error" <span class="important">id="numero-serie"</span> aria-describedby="helpblock" aria-required="true" type="text"&gt;
&lt;label <span class="important">for="numero-serie"</span> class="error" id="numero-serie-error"&gt;Le champ numéro de série est obligatoire.&lt;/label&gt;
</code></pre>

<p><strong>Attention</strong>, bien qu’il soit tout à fait <abbr>HTML</abbr> valide d’utiliser plusieurs <code>label</code> pour un même champ de formulaire, il est pour le moment conseillé de doubler avec un attribut <code>aria-labelledby</code> listant les <code>id</code> des deux (ou plus) <code>label</code> pour que le support soit assuré pour toutes les <abbr>AT</abbr>.
  Consulter <a href="https://www.paciellogroup.com/blog/2016/01/simple-inline-error-message-pattern/" hreflang="en">l’article de Steve Faulkner</a> pour plus d’information sur le sujet.</p>

<pre><code class="html">
&lt;label id="serie-label" for="numero-serie"&gt;Veuillez saisir le numéro de série *&lt;/label&gt;
&lt;input aria-invalid="true" class="error" <span class="important">aria-labelledby="serie-label serie-error"</span> id="numero-serie" aria-describedby="helpblock" aria-required="true" type="text"&gt;
&lt;label id="serie-error" for="numero-serie" class="error" id="numero-serie-error"&gt;Le champ numéro de série est obligatoire.&lt;/label&gt;
</code></pre>

<h4>Afficher des messages d’erreur explicites et, si besoin, suggérer des corrections</h4>
<p>Les messages d’erreur affichés doivent être pertinents et, si besoin, proposer des exemples d’entrée valide dits aussi suggestions de correction.</p>
<p>Pour les messages d'erreur, quelques règles de bases :</p>

<ul>
  <li>Soyez clair et non ambigu</li>
  <li>Soyez bref et significatif</li>
  <li>Soyez précis et pertinent</li>
  <li>Donner des pistes de corrections et moyens de corriger</li>
  <li>Assurez-vous que les erreurs sont sous forme de texte, éviter les majuscules.</li>
  <li>Ne vous contentez pas d'utiliser des indicateurs visuels ou seulement la couleur pour signaler les erreurs.</li>
  <li>Laisser actif en toute circonstance le bouton d'envoi. Certains sites Web activent le bouton d'envoi que si le formulaire est correctement rempli, c'est une mauvaise idée.</li>
  <li>Fournissez les instructions nécessaires et soyez aussi précis que possible sur les erreurs commises afin de faciliter remplissage des champs par les utilisateurs.</li>
  <li>Assurez-vous que les erreurs sont visuellement identifiables sur la page Web.</li>
</ul>

<p><strong>Exemple valide&nbsp;:</strong><br>
  <img alt="capture d’écran d’un formulaire affichant des messages d’erreur valides"
       src="../../images/formulaire-ok.png">
</p>
<p><strong>Exemple non-valide&nbsp;:</strong><br>
  <img alt="capture d’écran d’un formulaire affichant des messages d’erreur non-valides"
       src="../../images/formulaire-ko.png">
</p>
