---
title: "Exemple de masquage accessible et d'utilisation de aria-hidden"
abstract: "Créer des éléments invisibles à l'écran mais accessibles aux outils d'assistance."
titleBeforeTag: true
date: "2018-01-12"
updateDate: "2025-12-26"
tags:
  - component
---

<h2>Introduction</h2>
<p>Il est parfois nécessaire de masquer des éléments dans une page web. La méthode classique consiste à utiliser du <abbr>CSS</abbr> (<code>display:none;</code> et <code>visibility:hidden;</code>). Ces deux propriétés, comme l'attribut <abbr>HTML5</abbr> <code>hidden</code>, permettent de masquer des éléments non seulement à l'écran, mais aussi aux utilisateurs de lecteurs d'écran. Ces éléments ne seront donc ni visibles ni vocalisés par les aides techniques (<abbr>AT</abbr>).</p>
<p>Dans certains cas, il peut être utile de masquer des éléments à l'écran tout en conservant l'information pour les utilisateurs de lecteurs d'écran. Pour cela, on utilisera une classe <abbr>CSS</abbr> de «&nbsp;masquage accessible&nbsp;».</p>
<p>Enfin, il existe un autre cas utile&nbsp;: afficher des éléments à l'écran, mais faire en sorte qu'ils ne soient pas vocalisés. Dans ce cas, on utilisera un attribut <abbr>HTML5</abbr> <code>inert</code> ou bien un attribut <abbr>ARIA</abbr> (<code>aria-hidden</code>).</p>

<h2>Le masquage accessible</h2>
<p>Masquer un élément de manière accessible permet de le faire disparaître à l'écran tout en le conservant pour les utilisateurs d'<abbr>AT</abbr>, en particulier les lecteurs d'écran. Techniquement, la solution consiste à appliquer une classe <abbr>CSS</abbr> sur l'élément qui ne doit pas être visible.</p>
<p>Il existe plusieurs solutions pour réaliser ce type de classe <abbr>CSS</abbr>&nbsp;:</p>
    <ul>
      <li>Donner une taille nulle à l'élément.</li>
      <li>Positionner l'élément en dehors de l'écran (<code>left: -1000px; top: -1000px;</code>).</li>
      <li>Utiliser les propriétés <code>text-indent</code> ou <code>clip</code>.</li>
      <li>…</li>
    </ul>
<p>L'idéal est de combiner ces solutions pour garantir le bon fonctionnement sur l'ensemble des navigateurs.</p>

<p>Si vous utilisez un framework, il est fort probable que celui-ci embarque déjà une telle classe. Par exemple, si vous utilisez <a href="http://boosted.orange.com">Boosted</a> ou <a href="http://getbootstrap.com/">Bootstrap</a>, vous pouvez employer la classe <abbr>CSS</abbr> <code>visually-hidden</code> (ou <code>sr-only</code>, abréviation de <span lang="en">screen reader only</span>, pour les versions plus anciennes) dont voici le code&nbsp;:</p>

<pre><code class="css">
.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0 !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within){
	position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden !important;
}
</code></pre>

<p>Si vous ne disposez d'aucune classe de masquage accessible, le plus simple est de copier-coller le code ci-dessus.</p>

<h3>Mise en œuvre</h3>
<p>La classe de masquage accessible peut s'employer dans de nombreux cas. Par exemple, pour expliciter le libellé d'un lien&nbsp;:</p>

<pre><code class="html">
&lt;a href="…"&gt;En savoir plus&lt;span <span class="important">class="visually-hidden"</span>&gt; sur nos offres mobiles&lt;/span&gt;&lt;/a&gt;
</code></pre>

<strong>Exemple&nbsp;:</strong>
<p><a href="#">En savoir plus<span class="visually-hidden"> sur nos offres mobiles</span></a></p>

<p>On aurait obtenu la même vocalisation si nous avions utilisé un attribut <code>aria-label</code> sur le lien, comme ceci&nbsp;:</p>

<pre><code class="html">
&lt;a href="…" aria-label="En savoir plus sur nos offres mobiles"&gt;En savoir plus&lt;/a&gt;
</code></pre>

<p>La solution utilisant la classe de masquage accessible offre néanmoins plusieurs avantages par rapport à la solution <code>aria-label</code>. Si le <abbr>CSS</abbr> est désactivé (ou remplacé par des styles personnalisés adaptés à un certain handicap numérique, par exemple), les textes en masquage accessible apparaîtront automatiquement à l'écran. Lors d'une traduction automatique d'une page, le <code>aria-label</code> ne sera pas traduit. De plus, un <code>aria-label</code> n'étant pas très visible dans le code, les développeurs risque d'oublier de les mettre à jour ou modifier.</p>

<h2>L'attribut <code>aria-hidden</code></h2>
<p>Cet attribut permet de masquer un élément (ou un groupe d'éléments) pour les lecteurs d'écran. Il n'a en revanche aucun effet sur l'affichage à l'écran.</p>

<h3>Mise en œuvre</h3>
<p>Pour masquer un élément (et ses enfants) aux lecteurs d'écran, il suffit d'ajouter un attribut <code>aria-hidden="true"</code>. Le contenu peut toujours être rendu accessible aux <abbr>AT</abbr> grâce à <code>aria-describedby</code> ou <code>aria-labelledby</code>.</p>

<h4>Attention</h4>
<p>Un élément interactif placé dans un élément possédant ou héritant un attribut <code>aria-hidden="true"</code> sera atteignable au clavier mais sera interprété comme vide pour les <abbr>AT</abbr>. <em>Donc, à ne pas faire.</em></p>

<p><strong>Exemple&nbsp;: </strong><br>
La capture d'écran suivante montre un lecteur vidéo contenant un certain nombre de boutons (chaîne précédente, chaîne suivante, pause…). Ce lecteur est entouré par deux boutons permettant également d'accéder aux chaînes précédentes et suivantes.</p>
<p>Visuellement, cela ne pose pas de problème. En revanche, lorsqu'on écoute la page avec un lecteur d'écran, on peut trouver curieux d'entendre un bouton vocalisé «&nbsp;Animaux&nbsp;» au début de la page, puis à la fin de la page un bouton vocalisé «&nbsp;Chasse et pêche&nbsp;».</p>

<p><img src="../images/player.png" alt="capture d'écran présentant un lecteur vidéo"></p>

<p>Pour éviter de perturber l'utilisateur inutilement, le plus simple est de masquer ces deux boutons aux lecteurs d'écran à l'aide d'un attribut <code>aria-hidden</code>.</p>

<pre><code class="html">
&lt;div class="icon icon-arrow-left2" <span class="important">aria-hidden="true"</span>&gt;
      &lt;div class="nextPreviousChannelName OrangeMedium"&gt;Animaux&lt;/div&gt;
&lt;/div&gt;
</code></pre>

<h2>Webographie</h2>
<ul>
  <li><a href="https://www.ffoodd.fr/masquage-accessible-de-pointe/">Masquage accessible de pointe</a></li>
  <li><a href="https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034" lang="en" href="en">Improved .visually-hidden (en)</a></li>
  <li><a href="https://www.stefanjudis.com/blog/the-inert-attribute-is-finally-coming-to-the-web/" lang="en" href="en">The "inert" attribute is finally coming to the web (en)</a></li>
  <li><a href="https://access42.net/attribut-aria-hidden-true-accessibilite/">Comment utiliser l'attribut aria-hidden="true" de manière accessible ?</a></li>
  <li><a href="https://adrianroselli.com/2019/11/aria-label-does-not-translate.html" lang="en" href="en">aria-label Does Not Translate (en)</a></li>
</ul>