---
title: "Example 2 - Text zoom"
eleventyExcludeFromCollections: true
css:
  - style-exemple2.css
---

<div class="example">
  <h1>Exemple 2 - Text zoom</h1>
  <p>In this example if you zoom to 200% with the “Zoom Text Only” option enabled, all information remains available. The text is not truncated, the “discover” buttons will appear.</p>

  <nav><ul>
        <li>
              <h2>Protection</h2>
              <img alt="" src="../../../../web/images/exemples/zoom/protection.jpg">
              <p>Covers, cases, movies for Iphone, and our range of smartphone  …</p>
              <button class="btn btn-outline-secondary">Discover <span class="visually-hidden">all protections</span></button>
        </li>

        <li>
              <h2>Audio</h2>
              <img alt="" src="../../../../web/images/exemples/zoom/audio.jpg">
              <p>Earphones, headphones and bluetooth wireless speakers …</p>
              <button class="btn btn-outline-secondary">Discover <span class="visually-hidden">the audio accessories</span></button>
        </li>

        <li>
              <h2>Charging and storage</h2>
              <img alt="" src="../../../../web/images/exemples/zoom/charge-et-stockage.jpg">
              <p>Memory cards, batteries and travel chargers …</p>
              <button class="btn btn-outline-secondary">Discover <span class="visually-hidden">the charging and storage accessories</span></button>
        </li>

        <li>
              <h2>Car</h2>
              <img alt="" src="../../../../web/images/exemples/zoom/auto.jpg">
              <p>Gps support, bluetooth car kit, cigarette lighter …</p>
              <button class="btn btn-outline-secondary">Discover <span class="visually-hidden">the car accessories</span></button>
        </li>

  </ul></nav>
</div>
