---
title: "Example 1: tags"
css:
  - style.css
---

<div class="example">
    <ul>
        <li>Alcatel</li>
        <li>Doro</li>
        <li>Apple</li>
        <li>LG</li>
        <li>Sony</li>
    </ul>
</div>
