---
title: "Exemple 3 : les tags"
css:
  - style.css
---

<div class="example">
    <ul>
        <li>Alcatel<button>X</button></li>
        <li>Doro<button>X</button></li>
        <li>Apple<button>X</button></li>
        <li>LG<button>X</button></li>
        <li>Sony<button>X</button></li>
    </ul>
</div>
