---
title: "Vocalisation des prix"
abstract: "Afficher des promos, des prix barrés accessibles."
titleBeforeTag: true
date: "2018-01-14"
tags:
  - component
css:
  - style.css
js:
  - script.js
---

<h2>Préambule</h2>
<p>
    L'affichage des prix peut parfois poser des problèmes aux personnes malvoyantes qui utilisent un lecteur d'écran. C'est d'autant plus vrai lorsqu'on souhaite une mise en pages particulière ou afficher des promotions (prix barré).
</p>

<h2>Exemples présentant des problèmes de vocalisation</h2>

<h3>Exemple 1</h3>

<p>A l'aide d'un lecteur d'écran, l'exemple suivant est vocalisé comme trois éléments distincts :</p>
<ul>
  <li>"à partir de 120"</li>
  <li>"90 euros"</li>
  <li>"barre oblique mois"</li>
</ul>

<p>On ne sait pas si le prix est de 120€ ou 90€, alors que le vrai prix est 120,90€.</p>

<p class="example">
    à partir de
    <span class="price">
        120<sup>,90€</sup><sub>/mois</sub>
    </span>
</p>

<strong>Code de l'exemple</strong>

<pre><code class="html">
à partir de
&lt;span class="price"&gt;
    120&lt;sup&gt;,90€&lt;/sup&gt;&lt;sub&gt;/mois&lt;/sub&gt;
&lt;/span&gt;
</code></pre>

<h3>Exemple 2</h3>

<p>L'exemple suivant est vocalisé :</p>
<ul>
    <li>téléphones Orange</li>
    <li>à partir de 1 euro astérisque 129 euros</li>
    <li>astérisque voir condition</li>
</ul>
<p>L'utilisateur n'est pas informé que le prix 129,90 euros est barré.</p>
<div class="example2">
    <img src="images/phone.png" alt="téléphones Orange">
    <p>
        <strong>à partir de </strong><span class="price">1€*</span>
        <s>129,90€</s><br>
        *voir conditions
    </p>
</div>

<br>
<strong>Code de l'exemple</strong>

<pre><code class="html">
&lt;div class="example2"&gt;
&lt;img src="./images/phone.png" alt="téléphones Orange"&gt;
&lt;p&gt;
    &lt;strong&gt;à partir de &lt;/strong&gt;&lt;span class="price"&gt;1€*&lt;/span&gt;
    &lt;s&gt;129,90€&lt;/s&gt;&lt;br&gt;
    *voir conditions
&lt;/p&gt;
&lt;/div&gt;
</code></pre>

<h2>Solution pour corriger la vocalisation</h2>

<p>Pour corriger ces problèmes le plus simple est de permettre d'ignorer les caractères qui peuvent potentiellement poser problème aux AT et en particulier les lecteurs d'écran, en lecture vocale ou Braille, par exemple.</p>
<p>Pour masquer un élément à la synthèse vocale, il suffit d'utiliser l'attribut <code>aria-hidden="true"</code>. Pour ajouter un texte en masquage accessible (texte vocalisé mais non affiché), il suffit d'utiliser une classe CSS de masquage accessible (par exemple la classe <code>visually-hidden</code> si vous utiliser le framework <a href="http://boosted.orange.com">Boosted</a>).</p>

<p class="example">
<p class="example"> <!-- aria-hidden="true" removed -->
à partir de
<span class="price">
120<span class="cents">,90€</span>
<span class="sr-only">par </span>
<span class="payment-cycle"><span aria-hidden="true">/</span>mois</span>
</span>
</p>
<p>Élément vocalisé "à partir de 120 euros 90 par mois"</p>
<pre><code class="html">
&lt;p class="example"&gt;
à partir de
&lt;span class="price"&gt;
120&lt;span class="cents"&gt;,90€&lt;/span&gt;
&lt;span class="sr-only"&gt;par &lt;/span&gt;
&lt;span&gt;&lt;span aria-hidden="true"&gt;/&lt;/span&gt;mois&lt;/span&gt;
&lt;/span&gt;
&lt;p&gt;
</code></pre>

<div class="example2">
    <img src="images/phone.png" alt="téléphones Orange">
<p>
    <strong>à partir de </strong><span class="price">1€<span aria-hidden="true">*</span></span>
    <span class="sr-only"> au lieu de </span>
    <s>129,90€</s><br>
    <span aria-hidden="true">*</span>voir conditions
</p>
</div>

<p>Élément vocalisé :</p>
<ul>
    <li>téléphones Orange</li>
    <li>à partir de 1 euro au lieu de 129 euros 90 voir conditions</li>
</ul>

<pre><code class="html">
&lt;div class="example2"&gt;
&lt;img src="./images/phone.png" alt="téléphones Orange"&gt;
&lt;p aria-hidden="true"&gt;
    &lt;strong&gt;à partir de &lt;/strong&gt;&lt;span class="price"&gt;1€&lt;span aria-hidden="true"&gt;*&lt;/span&gt;&lt;/span&gt;
    &lt; au lieu de &lt;/span&gt;
    &lt;s&gt;129,90€&lt;/s&gt;&lt;br&gt;
    &lt;span aria-hidden="true"&gt;*&lt;/span&gt;voir conditions
&lt;/p&gt;
&lt;span class="visually-hidden"&gt;à partir de 1€ au lieu de 129,90€ voir conditions&lt;/span&gt;
&lt;/div&gt;
</code></pre>

<h2>Importance de la sémantique</h2>
<p>La solution à base de texte en masquage accessible a le mérite de fonctionner avec l'ensemble des outils d'assistance, cela dit il est important de porter une attention particulière aux balises HTML utilisées.</p>

<p>Ajouter de la sémantique dans le code HTML permet d'améliorer la prise en charge par les outils d'assistance. Il est possible d'afficher un texte barré à l'aide d'une balise <code>&lt;span&gt;</code> et d'une classe CSS, cela dit l'utilisation d'une balise appropriée <code>&lt;s&gt;</code> ou <code>&lt;del&gt;</code> apporte du sens à votre code.
Le lecteur d'écran NVDA par exemple indique automatiquement que le texte est barré lorsqu'il est inséré dans une balise <code>&lt;del&gt;</code>. Même si le support de ces balises n'est pas encore complet, il est important de veiller à choisir les balises HTML appropriées en fonction de vos besoins.</p>
