---
title: "Example 2: tags"
css:
  - style.css
---

<div class="example">
    <ul>
        <li>Alcatel<button>Remove Alcatel from the list</button></li>
        <li>Doro<button>Remove Doro from the list</button></li>
        <li>Apple<button>Remove Apple from the list</button></li>
        <li>LG<button>Remove LG from the list</button></li>
        <li>Sony<button>Remove Sony from the list</button></li>
    </ul>
</div>
