---
title: "Example 5: tags"
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li><button class="delete" aria-label="Remove Alcatel from the list">Alcatel</button></li>
        <li><button class="delete" aria-label="Remove Doro from the list">Doro</button></li>
        <li><button class="delete" aria-label="Remove Apple from the list">Apple</button></li>
        <li><button class="delete" aria-label="Remove LG from the list">LG</button></li>
        <li><button class="delete" aria-label="Remove Sony from the list">Sony</button></li>
    </ul>
</div>
