---
title: "Exemple 2 - Zoom du texte"
eleventyExcludeFromCollections: true
css:
  - style-exemple2.css
---

<h1>Exemple 2 - Zoom du texte</h1>
<p>Dans cet exemple si on zoome à 200% avec l'option «&nbsp;Zoom texte seulement&nbsp;» activée, toute l'information reste disponible. Le texte n'est plus tronqué, les boutons «&nbsp;Découvrir&nbsp;» restent affichés.</p>

<div class="example">
      <nav><ul>
      <li>
            <h2>Protection</h2>
            <img alt="" src="../../../../web/images/exemples/zoom/protection.jpg">
            <p>Coques, étuis, films pour Iphone, et notre gamme de smartphone…</p>
            <button class="btn btn-secondary">Découvrir <span class="visually-hidden">toutes les protections</span></button>
      </li>

      <li>
            <h2>Audio</h2>
            <img alt="" src="../../../../web/images/exemples/zoom/audio.jpg">
            <p>Écouteurs, casques et enceintes sans fil bluetooth…</p>
            <button class="btn btn-secondary">Découvrir <span class="visually-hidden">les accessoires audio</span></button>
      </li>

      <li>
            <h2>Charge et stockage</h2>
            <img alt="" src="../../../../web/images/exemples/zoom/charge-et-stockage.jpg">
            <p>Cartes mémoire, batteries et chargeurs de voyage…</p>
            <button class="btn btn-secondary">Découvrir <span class="visually-hidden">les accessoires de charge ou de stockage</span></button>
      </li>

      <li>
            <h2>Auto</h2>
            <img alt="" src="../../../../web/images/exemples/zoom/auto.jpg">
            <p>Support Gps, kit mains libres bluetooth, allume cigare…</p>
            <button class="btn btn-secondary">Découvrir <span class="visually-hidden">les accessoires auto</span></button>
      </li>

      </ul></nav>
</div>
