---
title: "Dialogs 2/2"
abstract: "Example of an accessible dialog (part 2)."
titleBeforeTag: true
date: "2018-01-03"
updateDate: "2025-07-19"
tags:
  - component
css:
  - style.css
js:
  - script.js
---

<h2>Introduction</h2>
<p>Here is another dialog example that, instead of displaying a message, will ask the user to select a folder among a list.</p>

<h2>Example</h2>
<p>Here is the final result of this example.</p>

<button id="openButton" class="btn btn-outline-secondary">Open the final example</button>

<!-- Final dialog -->
<div id="dialog" role="dialog" aria-labelledby="dialogTitle">
  <span tabindex="0" class="dialog-start"></span>
  <div class="dialogContainer">
    <button class="closeButton" aria-label="close" title="Close">X</button>
    <div id="dialogTitle">Move files to:</div>
    <div class="dialogContent">
      <p id="list-label">My files</p>
      <div role="listbox" tabindex="0" class="defaultFocus" aria-labelledby="list-label">
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">My added files</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Misc</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Summer music</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Travel photos</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Spain</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Mountain bike</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Folder 1</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Folder 2</span></div>
        <div tabindex="-1" role="option"><span class="glyphicon icon-folder_document"></span><span class="option-label">Folder 3</span></div>
      </div>

      <button id="newfolder" class="btn btn-outline-secondary">Create a folder</button>
    </div>
    <div class="btnbar">
      <button class="btn btn-outline-secondary">Cancel</button>
      <button class="btn btn-primary">Move</button>
    </div>
  </div>
  <span tabindex="0" class="dialog-stop"></span>
</div>

<h2>Implementation</h2>

<p>Not many changes from the <a href="../1/">first dialog example</a>, but in this case we use a list. Make sure to use a relevant labelling using the attribute <code>aria-labelledby</code>.</p>

<pre><code class="html">
    &lt;p id="list-label"&gt;My files&lt;/p&gt;
    &lt;div role="listbox" tabindex="0" class="defaultFocus" aria-labelledby="list-label"&gt;
      ...
</code></pre>
