{% extends "../layouts/base.njk" %}
{% import "../components/ui.njk" as ui with context %}

{% block content %}
  {% set leftColumnShouldBeVisible = sideNavigationLinks or leftColumn.display == true %}
  {%- if displayToc == true or leftColumnShouldBeVisible -%}
    {%- set mainContentColumn = "9" -%}
    {%- if displayToc == true and leftColumnShouldBeVisible -%}
      {% set mainContentColumn = "6" %}
    {%- endif -%}
    <div class="container-lg pt-4">
      <div class="row">
        {% if leftColumnShouldBeVisible %}
          <div class="col-md-3">
            <div class="StickySideNavigation">
              {{ ui.sideNavigation() }}
              {% if leftColumn.components %}
                {%- for component in leftColumn.components -%}
                  {% include "../components/" + component + ".njk" %}
                {%- endfor -%}
              {% endif %}
            </div>
          </div>
        {% endif %}
        <main id="main-content" class="col-md-{{ mainContentColumn }}" role="main">
          {% if titleBeforeTag %}
            <h1>{{ title }}</h1>  
            {% if tags %}
            <div class="bg-200 mx-n1 p-1 my-2">
              <p class="d-inline" id="filters_label">
                <strong>{{'tags.list' | translate}}</strong>
              </p>
              <ul class="d-inline list-inline" aria-labelledby="filters_label">
              {%- for tag in tags -%}
                {%- set tagTranslationKey = 'tags.' + tag -%}
                <li class="list-inline-item"><a href="../?tag={{ tag }}" class="btn btn-dark btn-sm" data-tag="{{ tag }}">{{ tagTranslationKey | translate }}</a></li>
              {% endfor -%}
              </ul>
            </div> 
            {% endif %}
          {% endif %}  
          {{ content | safe }}
        </main>
        {% if displayToc == true %}
          <div class="col-md-3">
            <div class="StickySideNavigation">
              {{ ui.toc() }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {%- else -%}
    <main id="main-content" class="container-lg pt-4" role="main">
      {{ content | safe }}
    </main>
  {%- endif -%}
{% endblock %}
