{% extends "../layouts/base.njk" %}
{% import "../components/ui.njk" as ui with context %}

{% block content %}
  {%- if displayToc == true or sideNavigationLinks -%}
    {%- set mainContentColumn = "9" -%}
    {%- if displayToc == true and sideNavigationLinks -%}
      {% set mainContentColumn = "6" %}
    {%- endif -%}
    <div class="container-lg pt-4">
      <div class="row">
        {% if sideNavigationLinks %}
          <div class="col-md-3">
            {{ ui.sideNavigation() }}
          </div>
        {% endif %}
        <main id="main-content" class="col-md-{{ mainContentColumn }}" role="main">
          {{ content | safe }}
        </main>
        {% if displayToc == true %}
          <div class="col-md-3">
            {{ ui.toc() }}
          </div>
        {% endif %}
      </div>
    </div>
  {%- else -%}
    <main id="main-content" class="container-lg pt-4" role="main">
      {{ content | safe }}
    </main>
  {%- endif -%}
{% endblock %}
