{% extends "../layouts/base.njk" %}
{% import "../components/ui.njk" as ui with context %}

{% block content %}
<main id="main-content" class="pt-4" role="main">
  <section class="container-lg">
    <div class="row">
      <div class="col-md-7 pb-5">{{ content | safe }}</div>
      <div class="col-md-5 align-self-end"><img src="/images/home-banner.svg" alt="" class="img-fluid"></div>
    </div>
  </section>
  <div class="bg-success py-4">
    <section class="container-lg">
      <h2>{{ cardNavigationTitle }}</h2>
      {{ ui.cardNavigation(navigation.main[locale] | filterArrayOfObjByKey('inCardNavigation', true)) }}
    </section>
  </div>
  <div class="bg-300">
    <section class="container-lg py-4">
      <div class="d-flex">
        <h2>{{ 'lastPosts.title' | translate }}</h2>
        <div class="pl-3">
          <a href="articles/" class="btn btn-secondary btn-sm">{{ 'lastPosts.seeAll' | translate }}</a>
        </div>
      </div>
      {{ ui.lastPosts(collections["articles_" + locale], site.home.lastPosts.limit) }}
    </section>
  </div>
</main>
{% endblock %}
