.example ul {
  font-family: "Arial";
  font-size: 1rem;
  border: .2rem solid #000;
  margin: 1rem 0 2rem 0;
  list-style: none;
  padding: .25rem;
  min-height: 2.5rem;
}

.example li {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  margin: .25rem;
}

.example li button:after {
  content: "x";
  margin: .25rem .25rem .25rem .75rem;
  padding-left: .4rem;
  border-left: .15rem solid #fff;
}

.example button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  font-family: "Arial";
  font-size: 1rem;
  padding: .25rem;
}

.example button:hover,
.example button:focus {
  background-color: #f16e00;
  color: #000;
}
