---
title: "Example 7: tags"
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li><span class="visually-hidden">Alcatel</span><button class="delete" aria-label="Remove Alcatel from the list">Alcatel</button></li>
        <li><span class="visually-hidden">Doro</span><button class="delete" aria-label="Remove Doro from the list">Doro</button></li>
        <li><span class="visually-hidden">Apple</span><button class="delete" aria-label="Remove Apple from the list">Apple</button></li>
        <li><span class="visually-hidden">LG</span><button class="delete" aria-label="Remove LG from the list">LG</button></li>
        <li><span class="visually-hidden">Sony</span><button class="delete" aria-label="Remove Sony from the list">Sony</button></li>
    </ul>
</div>
