<!doctype html>
<html lang="{{ locale }}" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ site.title[locale] }}</title>
    <link rel="icon" href="https://boosted.orange.com/docs/{{ vendors.boosted.favicon.version }}/assets/img/favicons/favicon.ico">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@{{ vendors.boosted.css.version }}/dist/css/boosted.min.css" integrity="{{ vendors.boosted.css.integrity }}" crossorigin="anonymous">
    {% for item in head %}{{ item | safe }}{% endfor %}
    {% for item in css %}
      <link rel="stylesheet" href="{{ item }}">
    {% endfor %}
  </head>
  <body>
    {% include "partials/header.njk" %}
    {# We don't want to display the breadcrumb on the home pages #}
    {% if not page.url | isHomeUrl %}
      {% include "../components/breadcrumbs.njk" %}
    {% endif %}
    <main id="main-content" class="container-lg pt-4" role="main">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.njk" %}
    <script src="/assets/script.js"></script>
    {% for item in js %}
      <script src="{{ item }}"></script>
    {% endfor %}
    <!--  This file is part of a11y-guidelines | Our vision of mobile & web accessibility guidelines and best practices, with valid/invalid examples. Copyright (C) 2016 Orange SA. See the Creative Commons Legal Code Attribution-ShareAlike 3.0 Unported License for more details (LICENSE file). -->
  </body>
</html>
