<!doctype html>
<html lang="{{ locale }}" dir="ltr" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ site.title[locale] }}</title>
    <link rel="preconnect" href="https://code.jquery.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    {# favicons #}
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/assets/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/assets/images/favicon.ico">
    {# styles #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@{{ vendors.boosted.version }}/dist/css/boosted.min.css" integrity="{{ vendors.boosted.css.integrity }}" crossorigin="anonymous">
    {% if highlightjs == true %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@{{ vendors.highlightjs.version }}/build/styles/{{ vendors.highlightjs.theme }}.min.css">
    {% endif %}
    <link rel="stylesheet" href="/assets/style.css">
    {% for item in head %}{{ item | safe }}{% endfor %}
    {% for item in css %}
      <link rel="stylesheet" href="{{ item }}">
    {% endfor %}
     <style>.no-js .hidden-if-no-js{display:none!important}</style>
  </head>
  <body{% if displayToc == true %} data-spy="scroll" data-target="#toc" style="position:relative;"{% endif %}>
    {% include "partials/header.njk" %}
    {# We don't want to display the breadcrumb on the home pages #}
    {% if not page.url | isHomeUrl %}
      {% include "../components/breadcrumbs.njk" %}
    {% endif %}
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    {% if jquery == true or boostedJS == true %}
      <script src="https://code.jquery.com/jquery-{{ vendors.jquery.version }}.slim.min.js" integrity="{{ vendors.jquery.integrity }}" crossorigin="anonymous"></script>
    {% endif %}
    {% if boostedJS == true %}
      <script src="https://cdn.jsdelivr.net/npm/boosted@{{ vendors.boosted.version }}/dist/js/boosted.min.js" integrity="{{ vendors.boosted.js.integrity }}" crossorigin="anonymous"></script>
    {% endif %}
    {% if highlightjs == true %}
      <script src="/assets/vendors/highlightjs/highlight.js"></script>
      <script>hljs.initHighlightingOnLoad()</script>
    {% endif %}
    <script src="/assets/script.js"></script>
    {% for item in js %}
      <script src="{{ item }}"></script>
    {% endfor %}
    <!--  This file is part of a11y-guidelines | Our vision of mobile & web accessibility guidelines and best practices, with valid/invalid examples. Copyright (C) 2016 Orange SA. See the Creative Commons Legal Code Attribution-ShareAlike 3.0 Unported License for more details (LICENSE file). -->
  </body>
</html>
