{%- import "../components/ui.njk" as ui with context -%}
<!doctype html>
<html lang="{{ locale }}" dir="ltr" class="no-js" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ site.title[locale] }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="l2y2kYf6v887K8NW7L41pN29ueW0w5P02MJrUiP2JoA" />
    {% if abstract %}
    <meta name="description" content="{{ abstract }}">
    {% endif %}
    <link rel="preconnect" href="https://code.jquery.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/HelvNeue55_W1G.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/HelvNeue75_W1G.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="{{ site.rss.title['fr'] }}" href="{{ site.rss.url['fr'] }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.rss.title['en'] }}" href="{{ site.rss.url['en'] }}" />
    {# favicons #}
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/assets/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/assets/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#563d7c">
    <link rel="icon" href="/assets/images/favicon.ico">
    {# styles #}
    <link href="https://cdn.jsdelivr.net/npm/boosted@{{ vendors.boosted.version }}/dist/css/boosted.min.css" rel="stylesheet" integrity="{{ vendors.boosted.css.integrity }}" crossorigin="anonymous">
    {% if highlightJS == true %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@{{ vendors.highlightJS.version }}/build/styles/{{ vendors.highlightJS.theme }}.min.css">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/tarteaucitron-boosted.css">
    {%- for item in head -%}{{ item | safe }}{%- endfor -%}
    {%- for item in css -%}
      <link rel="stylesheet" href="{{ item }}">
    {%- endfor -%}
  </head>
  <body{% if displayToc == true %} data-bs-spy="scroll" data-bs-offset="130" data-bs-target="#toc" style="position:relative;"{% endif %}>
    {% include "partials/header.njk" %}
    <div class="container-lg pt-2">
      {# We don't want to display the breadcrumb on the home pages #}
      {% if not page.url | isHomeUrl %}
        {% include "../components/breadcrumbs.njk" %}
      {% endif %}
      <div class="MobileDropdownNavigationContainer d-flex flex-column flex-sm-row justify-content-between">
        {{ ui.sideNavigation("mobile") }}
        {% if displayToc == true %}
          {{ ui.toc("mobile") }}
        {% endif %}
      </div>
    </div>
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    <nav role="navigation" class="back-to-top" aria-label="{{ 'backToTop.label' | translate }}">
      <a href="#top" class="back-to-top-link btn btn-icon btn-outline-secondary" title="{{ 'backToTop.label' | translate }}">
        <span class="visually-hidden">{{ 'backToTop.label' | translate }}</span>
      </a>
    </nav>
    <script src="/assets/vendors/tarteaucitronjs/tarteaucitron.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    {% if popperJS == true %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/{{ vendors.popper.version }}/umd/popper.min.js" integrity="{{ vendors.popper.integrity }}" crossorigin="anonymous"></script>
    {% endif %}
    {% if boostedJS == true or displayToc == true %}
      <script src="https://cdn.jsdelivr.net/npm/boosted@{{ vendors.boosted.version }}/dist/js/boosted.bundle.min.js" integrity="{{ vendors.boosted.js.integrity }}" crossorigin="anonymous"></script>
    {% endif %}
    {% if highlightJS == true %}
      <script src="/assets/vendors/highlightjs/highlight.js"></script>
    {% endif %}
    <script>
      const Application = {
        lang: "{{ locale }}",
        vendors: {
          highlightJS: {{ highlightJS == true }},
          highlightTitle: {{ highlightTitle == true }}
        }
      }
    </script>
    <script src="/assets/script.js"></script>
    {%- for item in js -%}
      <script src="{{ item }}"></script>
    {%- endfor -%}
    <script>
      var tarteaucitronForceLanguage = "{{ locale }}"
      tarteaucitron.init({{ site.tracking.tarteaucitronConfig | dump | safe }});
      {%- if config.environment == "production" -%}
        var dataLayer = [{
          'site_name': '{{ site.tracking.siteName }}',
          'phase': '{{ site.tracking.phase }}'
        }];
        tarteaucitron.user.googletagmanagerId = "{{ site.tracking.googletagmanagerId }}";
        (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
      {%- endif -%}
      docsearch({{ site.getDocSearchConfig(locale) | dump | safe }});
    </script>
    <div hidden>{{ 'headingsAnchor.label' | translate }}</div>
    {% include "partials/licence.njk" %}
    {% if usefulLinks == true %}
      <script src="/assets/useful-links.js"></script>
    {% endif %}
  </body>
</html>
