body {  
  padding-top: 9rem;
  background-color: #f6f6f6;
}

/*
#content {
  background: #fff;  
}
*/
#content p {
  background: #fff;
  padding: 1rem;  
}

#content p+ul, #content p+p {
  margin-top: -2rem;
}

#content ul {
  background: #fff;
  padding: 1rem;
  padding-left: 3rem;  
}

.highlight-zone {
    outline: .4rem dotted #888;
    background-color:rgba(128,128,128,0.1) !important;    
}

.skip-links {
    position : absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;    
}

.skip-links a {    
    margin: .5rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;    
}

.skip-links a:focus {
    text-decoration: underline;    
}

.top-nav .active a,
.top-nav a[aria-disabled=true] {
    cursor: default;
}

.top-nav a[aria-disabled=true]:hover {
    color: #fff !important;
}

.navbar {
    padding: 0 1.4rem;
    font-size: 1.05rem;
}

#searchIcon {  
  padding-top: 0;
  margin-top: 3.4rem;
  margin-left: .5rem;
}

#searchIcon span::before {
  font-size: 1.9rem;
}

.top-nav a:focus,
.navbar-brand:focus {
    outline-color: #fff;
    text-decoration: none;
}

#cdu_zone {
    position: fixed !important;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid rgb(136, 136, 136);
}

#cdu a {
    color: #fff;        
    text-decoration: none;
    display: inline-block;
} 

#cdu a:focus, #cdu a:hover {
    border-bottom: 0;    
    outline: .1rem dotted #fff;
} 

#cdu span {
    color: #f16e00;
}

#cdu_close {
    display: none !important;
}

#language {
  line-height: initial;
}

a h3 {
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 1rem;  
}

h1 a, h2 a {
  cursor: pointer;
  text-decoration: none;
}

h1 a:active, h1 a:hover, h1 a:focus, 
h2 a:active, h2 a:hover, h2 a:focus {
  color: #000;
}

h1:before, h2:before {
   content: '';
   display: block;
   position: relative;
   width: 0; 
}

[role="search"] input {
  border-color: #000;
}

#navigation {
  position: absolute;
  left: 1rem;
  top: 9rem;
  background-color: #fff;
} 

#navigation a {
  padding: .65rem .8rem;
  width: 100%;
  display: inline-block;
}

#navigation-mobile {
    display: block;
}

.navbar-toggler {
  float: right;
}

@media (min-width: 768px) {
    
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    padding-top: 1pt;
  }
  main.container-fluid {
    margin-left: 1pt;
  }
}

#sidebar {
  height: 100%;
  padding-right: 0;
  max-width: 20em;
  font-weight: bold;
  margin-top: 1rem;
}

#navigation {
  width: 95%;
}

#navigation li {
  border:0 #fff solid;
  border-bottom-width: 1px;
  display: block;
  float: none;
}

#navigation a {
  margin: 0;
}

#navigation a:focus,
#navigation a:hover {
  background: transparent;
}

#navigation a.current {
  background: #000;
  color: #fff;
}

.language {
  color: #f16e00;
  list-style: none;
  display: inline;
  padding-left: 0;
  font-size: 1.6rem;
}

.language a {
  color: #fff;
}

.language li {
  display: inline;
}

.language li:first-child::after {
  content: "|";
  color: #888;
  padding-left: .5rem;
}

#secondNavBar li:first-child {
  margin-left: 0;
}

#cdu a {
  margin-top: 3.66rem;
}

.dropdown-item {
  margin-top: 0 !important;
}

.breadcrumb {
  position: fixed;
  top: 6.2rem;
  left: .4rem;  
  width: 100%;
  background-color: #f6f6f6;
  z-index: 100;
  padding: .75rem;
  font-size: .94rem;
}

#secondNavBar .nav-item.language a {
  display: inline-block;
  font-size: 1.05rem;  
  margin-left: .4rem;
  margin-top: 3.8rem;
}

#searchbar {
  width: 100%;
  background: #000;
  padding: 1rem;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 6rem;
  padding-top: .5rem;
}

#searchbar input {
  border: .1rem solid #fff;
  background-color: #000;
  width: 100%;
  padding: 1rem;
  color: #fff;
  margin-bottom: .5rem;
}

#searchbar label {
  font-size: 1.5rem;
  font-weight: bold;
}

#searchbar button {
  position: absolute;
  right: 1rem;  
  border: none;
  color: #fff;
  font-size: 2rem;
  margin: 0;
  background: transparent;
}

/* collapsed sidebar styles */
@media screen and (max-width: 479px) {
  
  body {
    padding-top: 5.5rem;
  }

  .breadcrumb {
    top: 3rem;
  }

  #searchbar {
    top: 3rem;
  }

  #secondNavBar {
    position: absolute;
    margin: 0 4.5rem 0 0;
    padding: 0;
    right: 0;
  }

  #secondNavBar a {
    padding: .875rem .4rem .875rem .4rem ;
    margin: 0;
  }
  
  #navigation {
    position: static;
    width: 100% !important;  
    background-color: transparent;
  }

  #navigation li {
    border: none;
  }

  #navigation a {
    color: #fff;
  }

  #navigation li:first-child a {
    padding-top: 1.2rem;
  }

  #navigation li:last-child a {
    padding-bottom: .4rem;
  }

  #navigation a.current {
    color: #f16e00;
  }

  .nav-item {
    border: none !important;    
  }

  #collapsingNavbar {
    border-top: .1rem solid #4f4f4f;
  }

  #collapsingNavbar .nav-item {    
    font-size: 1.25rem;
    padding: .75rem 0 .75rem 1.5rem;    
  }

  #collapsingNavbar .nav-item.language a {
    display: inline;
  }

  #navigation li, #collapsingNavbar .language {
    font-size: 1rem;
  }

  #collapsingNavbar .language {
    padding: 1rem;
  }

  #collapsingNavbar .nav-item:last-child {
    border-top: .1rem solid #4f4f4f !important;
  }  

  .nav-item.mobile {
    margin-bottom: 1rem;
  }

  .nav-item.active>a {
    color: #fff !important;
  }

  .nav-item.active a::before {
    transform : rotate(90deg);
  }

  header>nav .navbar-toggler {
    float: right;
    padding: .875rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: transparent;
    background-image: none;
    border: 0
  }

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }

  .row-offcanvas-right.active {
    right: 41.6%;
  }

  .row-offcanvas-left.active {
    left: 41.6%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }

  #sidebar {
    padding-top:0;
  }

  .nav-item.language .nav-link::before {
    display: none;
  }

  .nav-item.language .nav-link {
    margin-top: 0;
  }

  #searchIcon {
    margin-top: -.25rem !important;
  }
}

.nav-item.language .nav-link.active {
  color: #f16e00;
}

.nav-item.language .nav-link:first-child {
  border-right: .1rem solid #888;
  padding-right: .4rem;      
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.subtitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: normal;
}

#navigation li.subtitle.active {
  font-weight: bold;
  border-right: 2px solid black;
}

#subtitles {
  padding-left: 1.5rem;
}