body {  
/*  font-size: 1.6rem;*/
  padding-top: 7.5rem;
}

.highlight-zone {
    outline: .4rem dotted #888;
    background-color:rgba(128,128,128,0.1) !important;    
}

.skip-links {
    position : absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #fff;    
}

.skip-links a {    
    margin: .5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;    
}

.skip-links a:focus {
    text-decoration: underline;    
}

.top-nav .active a,
.top-nav a[aria-disabled=true] {
    cursor: default;
}

.top-nav a[aria-disabled=true]:hover {
    color: #fff !important;
}

.navbar {
    padding: 0 1.4rem;
}

#searchIcon {
  margin-top: 3.75rem;
}

.top-nav a:focus,
.navbar-brand:focus {
    outline-color: #fff;
    text-decoration: none;
}

#cdu_zone {
    position: fixed !important;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid rgb(136, 136, 136);
}

#cdu a {
    color: #fff;    
    margin-top: 3.75rem;
    text-decoration: none;
    display: inline-block;
} 

#cdu a:focus, #cdu a:hover {
    border-bottom: 0;    
    outline: .1rem dotted #fff;
} 

#cdu span {
    color: #f16e00;
    /*font-size: 2rem;*/
}

#cdu_close {
    display: none !important;
}

#language {
  line-height: initial;
}

/*
h1 {
  font-size: 4rem;
}

h1:first-child {
  margin-top: 1rem;
}

h2 {
  padding-top: 9rem;
  margin-top: -7.5rem;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}
*/
a h3 {
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 1rem;  
}

h1 a, h2 a {
  cursor: pointer;
  text-decoration: none;
}

h1 a:active, h1 a:hover, h1 a:focus, 
h2 a:active, h2 a:hover, h2 a:focus {
  color: #000;
}

h1:before, h2:before {
   content: '';
   display: block;
   position: relative;
   width: 0; 
}

[role="search"] input {
  border-color: #000;
}

#navigation {
  position: absolute;
  left: 1rem;
  top: 8rem;
} 

#navigation a {
  padding: .8rem;
  width: 100%;
  display: inline-block;
}

#navigation-mobile {
    display: block;
}

.navbar-toggler {
  float: right;
}

@media (min-width: 768px) {
    #navigation-mobile {
        display: none;
    }    
}

@media print {
  body {
    width: 210mm;
    height: 297mm;
    padding-top: 1pt;
  }
  main.container-fluid {
    margin-left: 1pt;
  }
}

#sidebar {
  height: 100%;
  padding-right: 0;
  max-width: 20em;
  font-weight: bold;
  margin-top: 1rem;
}

#navigation {
  width: 95%;
}

#navigation li {
  border:0 #f2f2f2 solid;
  border-bottom-width: 1px;
  display: block;
  float: none;
}

#navigation a {
  margin: 0;
}

#navigation a:focus,
#navigation a:hover {
  background: transparent;
}

#navigation a.current {
  background: #000;
  color: #fff;
}

/*
#sidebar>ul {
  position: fixed;
}
*/

.language {
  color: #f16e00;
  list-style: none;
  display: inline;
  padding-left: 0;
  font-size: 1.6rem;
}

.language a {
  color: #fff;
}

.language li {
  display: inline;
}

.language li:first-child::after {
  content: "|";
  color: #888;
  padding-left: .5rem;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.subtitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: normal;
}

#navigation li.subtitle.active {
  font-weight: bold;
  border-right: 2px solid black;
}

#subtitles {
  padding-left: 1.5rem;
}