---
title: "Test: filter by brand"
css:
  - style.css
js:
  - script.js
---

<div class="example">

  <h1>Filter by brand</h1>
  <label for="brand-list">Select brands:</label>
  <select id="brand-list" multiple="multiple">
    <option>Alcatel</option>
    <option>Apple</option>
    <option>Doro</option>
    <option>Huawei</option>
    <option>HTC</option>
    <option>Orange</option>
    <option>Google</option>
    <option>LG</option>
    <option>Microsoft</option>
    <option>Motorola</option>
    <option>Samsung</option>
    <option>Sony</option>
    <option>Wiko</option>
  </select>

  <button id="addBrands" class="sr-only">Add brands</button>

  <h2 id="selection-list-label">List of selected brands:</h2>
  <ul id="selection-list"></ul>

</div>
