---
title: "Landmarks ARIA"
abstract: "Setting up ARIA landmarks"
titleBeforeTag: true
date: "2018-01-15"
updateDate: "2025-02-24"
tags:
  - component
css:
  - style.css
---

<h2>Introduction</h2>
<p>In this acticle, we'll see how to improve page navigation of a web page by adding <abbr>HTML</abbr> semantics to its content. The aim is to make it easier for assistive devices (e.g., screen readers) to locate the main areas of the page.</p>

<h2> Theory</h2>
<p>To add <abbr>HTML</abbr> semantics to a page content, there are two possibilities:</p>
<ul>
  <li>
    <p>For a page <em>in <abbr>HTML5</abbr></em> (recommended) : use the <em>semantic tags </em>(<code>main</code>, <code>header</code>, <code>footer</code>, <code>aside</code>, etc.) that were introduced.
    These tags should be used on their own, without the corresponding <abbr>ARIA</abbr> roles, as they are well supported by the vast majority of browsers and assistive devices.</p>

    <pre class="mb-0"><code class="html">
    &lt;head&gt;
      […]
      &lt;title&gt;Page title&lt;/title&gt;
      […]
    &lt;/head&gt;

    &lt;body&gt;
      &lt;header&gt;
        &lt;img&gt;logo&lt;/img&gt;
        &lt;h1&gt;Application name&lt;/h1&gt;
        &lt;nav&gt;…navigation…&lt;/nav&gt;
        […]
      &lt;/header&gt;

      &lt;main&gt;
        &lt;nav aria-label="Breadcrumb"&gt;[…]&lt;/nav&gt;
        &lt;section&gt;
          &lt;h1&gt;News&lt;/h1&gt;
          &lt;p&gt;June 21th, 2018 - Music festival&lt;/p&gt;
          &lt;p&gt;…section content…&lt;/p&gt;
        &lt;/section&gt;
        &lt;article&gt;
          […]
        &lt;/article&gt;
        […]
      &lt;/main&gt;

      &lt;aside&gt;
        &lt;p&gt;…side content related to the main content…&lt;/p&gt;
        […]
      &lt;/aside&gt;

      &lt;footer&gt;
        &lt;p&gt;…footer content&nbsp;: copyright…&lt;/p&gt;
        […]
      &lt;/footer&gt;
    &lt;/body&gt;
    </code></pre>
    <br>
  </li>

  <li>
    <p>For a <em>non-<abbr>HTML5</abbr></em> page: add <em><abbr>ARIA</abbr> landmarks</em>.</p>

    <pre><code class="html">
    &lt;head&gt;
      […]
      &lt;title&gt;Page title&lt;/title&gt;
      […]
    &lt;/head&gt;

    &lt;body&gt;
      &lt;div role="banner"&gt;
        &lt;img&gt;logo&lt;/img&gt;
        &lt;h1&gt;Application name&lt;/h1&gt;
        &lt;div role="navigation"&gt;…navigation…&lt;/div&gt;
        […]
      &lt;/div&gt;

      &lt;div role="main"&gt;
        &lt;div role="navigation" aria-label="Breadcrumb"&gt;[…]&lt;/nav&gt;
        &lt;div role="region"&gt;
          &lt;h1&gt;News&lt;/h1&gt;
          &lt;p&gt;June 21th, 2018 - Music festival&lt;/p&gt;
          &lt;p&gt;…section content…&lt;/p&gt;
        &lt;/div&gt;
        &lt;div role="article"&gt;
          […]
        &lt;/div&gt;
        […]
      &lt;/div&gt;

      &lt;div role="complementary"&gt;
        &lt;p&gt;…side content related to the main content…&lt;/p&gt;
        […]
      &lt;/div&gt;

      &lt;div role="contentinfo"&gt;
        &lt;p&gt;…footer content&nbsp;: copyright…&lt;/p&gt;
        […]
      &lt;/div&gt;
    &lt;/body&gt;
    </code></pre>
  </li>
</ul>

<h3 class="mt-4 mb-0" id="equivalence">Correlation between <abbr>HTML5</abbr> tags and <abbr>ARIA</abbr> landmarks</h3>
  <table class="table mt-2 mb-4">
      <caption class="visually-hidden" aria-labelledby="equivalence"></caption>
      <thead>
        <tr>
          <th class="table-column1-width"><abbr>HTML5</abbr> tags</th>
          <th><abbr>ARIA</abbr> landmarks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>header</code></td>
          <td><code>role="banner"</code> only if placed in a <code>body</code> tag</td>
        </tr>
        <tr>
          <td><code>nav</code></td>
          <td><code>role="navigation"</code></td>
        </tr>
        <tr>
          <td><code>--</code></td>
          <td><code>role="search"</code></td>
        </tr>
          <td><code>main</code></td>
          <td><code>role="main"</code></td>
        </tr>
          <tr>
          <td><code>form</code></td>
          <td><code>role="form"</code> if there is an accessible name given by <code>aria-labelledby</code>, <code>aria-label</code> or <code>title</code></td>
        </tr>
        <tr>
          <td><code>section</code></td>
          <td><code>role="region"</code> if there is an accessible name given by <code>aria-labelledby</code>, <code>aria-label</code> or <code>title</code></td>
        </tr>
        <tr>
          <td><code>aside</code></td>
          <td><code>role="complementary"</code></td>
        </tr>
        <tr>
          <td><code>footer</code></td>
          <td><code>role="contentinfo"</code> only if placed in a <code>body</code> tag</td>
        </tr>
      </tbody>
  </table>

<h3 class="mt-4">Uses</h3>
<ul class="usages">
  <li>The <code>header</code> tag or the <abbr>ARIA</abbr> landmark attribute <code>role="header"</code> identifies the page header. To be used only once in the page.</li>
  <li>The <code>main</code> tag or the <code>role="main"</code> attribute identifies the page's main content. To be used only once on the page.</li> 
  <li>The <code>aside</code> tag or the <code>role="complementary"</code> attribute is used to identify side content to the page's main content (additional information, advertising, etc.).</li>
  <li>The <code>footer</code> tag or the <code>role="contentinfo"</code> attribute identifies the footer. To be used only once on the page.</li>
</ul>
<p>The 4 <abbr>ARIA</abbr> landmark tags or attributes above must be placed directly in a <code>body</code> tag (and not in another tag itself nested within the <code>body</code>).</p>  
  
<ul class="usages mt-4">  
  <li>The <code>nav</code> tag or the <code>role="navigation"</code> attribute identifies the site's main internal navigation elements. Best practice dictates that a maximum of 3 <code>nav</code> tags or <code>role="navigation"</code> should be used on a single page.</li>
  <li>The <code>form</code> tag or the <code>role="form"</code> attribute should be used to identify a form.</li>
  <li>The <abbr>ARIA</abbr> landmark attribute <code>role="search"</code> (there is no equivalent <abbr>HTML</abbr> tag) is used to identify a search form on the site.</li>
  <li>The <code>section</code> tag or the <code>role="region"</code> attribute can be used to group content (e.g., chapters in a book, large parts of a home page, etc.) thematically.</li>
  <li>The <code>article</code> tag or the <code>role="article"</code> attribute is used for an autonomous portion of the site.</li>
</ul>

<h3 class="mt-4">Best practice</h3>
<ul class="usages">
  <li>
    <p>When several landmarks of the same type are present on the page, it may be appropriate to give each one a different accessible name by adding it:</p>
    <ul class="usages">
      <li>an <code>aria-label</code> attribute, if the landmark doesn't have a header title (e.g., text in an <code>h1</code> to <code>h6</code> tag)</li>
      <li>an <code>aria-describedby</code> attribute which points to the header title whose content we want to use as an accessible name, if the landmark has a header title.</li>
    </ul>
    <p>Example of a page with 3 navigation landmarks:</p>
    <pre><code class = "html">
    &lt;nav aria-label="Main Menu"&gt; [...] &lt;/nav &gt;
    &lt;nav aria-label="Secondary Menu"&gt; [...] &lt;/nav&gt;
    &lt;nav aria-label="Breadcrumb trail"&gt; [...] &lt;/nav&gt;
    </code></pre>
    <p>More details on <a href="../../articles/aria-attributes-that-can-save-you/"> "The <abbr>ARIA</abbr> attributes that can save you" </a>.</p>
  </li>

  <li>
    <p>All content must be included in <abbr>HTML5</abbr> tags or structural <abbr>ARIA</abbr> landmark attributes. This ensures that users don't forget content they didn't find.</p>
  </li>

  <li><p> Exception: Modal dialog boxes do not need to be nested within a landmark tag.</p></li>
</ul>


<h3><abbr>ARIA</abbr> landmarks, users and assistive devices</h3>
<p>The <abbr>HTML5</abbr> tags that define the page's main landmarks have sufficient support with assistive devices (screen readers, software magnifiers, etc.). They should therefore be used to structure the page without the corresponding <abbr>ARIA</abbr> landmark role.</p>
<p>Setting up these <abbr>ARIA</abbr> landmarks is a good practice because it can improve the browsing of some users without impacting that of others. It's really a best practice&nbsp;!</p>


<h3 class="mt-4">Resources</h3>
<ul>
  <li><a href="https://www.w3.org/WAI/ARIA/apg/practices/landmark-regions/" hreflang="en">Landmark Regions specification</a></li>
</ul>
