---json
{
  "permalink": "feed-en.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Orange accessibility guidelines",
    "subtitle": "Last articles in English",
    "url": "https://a11y-guidelines.orange.com",
    "feedUrl": "https://a11y-guidelines.orange.com/feed-en.xml"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.articles_en | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>  
  {%- for post in collections.articles_en | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <item>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
  </item>
  {%- endfor %}
</feed>