---
title: "Exemple 8 : les tags"
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li><span class="visually-hidden">Alcatel</span><button class="delete" aria-label="Retirer Alcatel de la liste">Alcatel</button></li>
        <li><span class="visually-hidden">Doro</span><button class="delete" aria-label="Retirer Doro de la liste">Doro</button></li>
        <li><span class="visually-hidden">Apple</span><button class="delete" aria-label="Retirer Apple de la liste">Apple</button></li>
        <li><span class="visually-hidden">LG</span><button class="delete" aria-label="Retirer LG de la liste">LG</button></li>
        <li><span class="visually-hidden">Sony</span><button class="delete" aria-label="Retirer Sony de la liste">Sony</button></li>
    </ul>
</div>
