---
title: "Page de résultats de recherche"
abstract: "Bonnes pratiques pour les résultats de recherche dans un site."
titleBeforeTag: true
date: "2018-01-10"
updateDate: "2025-10-30"
tags:
  - component
---

<h2>Préambule</h2>
<p>La recherche sur le site doit de préférence être une page spécifique. Pour y accéder, on peut mettre en place dans le menu principal, dans le pied de page..., un lien "Rechercher" ou un icône de loupe, ainsi qu'un formulaire qui, lorsqu'il est validé avec le terme recherché, permet d'aller sur cette page dédiée.</p>

<h2>Le formulaire de recherche</h2>
<p>Dans cet exemple, nous avons utilisé <a href="http://boosted.orange.com/">la bibliothèque Boosted</a>. Celle-ci permet d’obtenir des formulaires dont le design est conforme à la charte Orange. </p>
  <p>Pour une recherche sur le site, il faut ajouter le <code>role="search"</code> afin d'assurer une meilleure identification de la région de recherche, comme ceci&nbsp;: <br />
<!-- Code du form de recherche -->
<pre><code class="html">
      &lt;form class="d-flex" role="search"&gt;
        &lt;input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher"&gt;
        &lt;button class="btn btn-primary" type="submit"&gt;Rechercher&lt;/button&gt;
      &lt;/form&gt;
</code></pre>
</p>
<p>Nota bene&nbsp;: bien sûr, il est toujours mieux de privilégier une étiquette de champ de formulaire visible pour tout utilisateur, cependant, lorsqu'il n'y a qu'un champ de recherche comme seul élément de formulaire dans la page, c'est envisageable !
</p>
<p><strong>Attention&nbsp;:</strong> lorsque plusieurs formulaires de recherche existent dans la page, il faut nommer spécifiquement chaque <code>role="search"</code> avec un <code>aria-label</code> ou <code>aria-labelledby</code>&nbsp;:<br />
<!-- Code pour 2 form de recherche -->
<pre><code class="html">
      &lt;form class="d-flex" role="search" aria-label="Recherche sur tout le site"&gt;
        &lt;input class="form-control me-2" type="search" placeholder="Rechercher dans le site" aria-label="Rechercher dans le site"&gt;
        &lt;button class="btn btn-primary" type="submit"&gt;Rechercher&lt;/button&gt;
      &lt;/form&gt;
      ...
      &lt;form class="d-flex" role="search" aria-labelledby="actu"&gt;
        &lt;h2 id="actu"&gt;Rechercher dans actualité&lt;/h2&gt;
        &lt;input class="form-control me-2" type="search" placeholder="Rechercher les actualités" aria-label="Rechercher une actu"&gt;
        &lt;button class="btn btn-primary" type="submit"&gt;Rechercher des actus&lt;/button&gt;
      &lt;/form&gt;
</code></pre>
</p>

<h2>Affichage des résultats</h2>
<h3>Le titre de page</h3>
<p>Une fois la recherche lancée, en premier lieu, le titre de page ( <code>title</code>) doit être modifié pour mentionner&nbsp;: <br />
<ul>
<li>le fait que nous sommes sur une page de résultats de recherche</li>
<li>le terme recherché</li>
<li>le nombre total de résultats</li>
</ul>
</p>

<p>Par exemple, "2 résultats pour..... 'Fibre' - Orange.com" </p>

<h3>Chargement et affichage du résultat de la recherche</h3>
<p>Dans certains cas, il semble pratique pour les utilisateurs de privilégier un rechargement asynchrone des résultats afin de ne pas charger une nouvelle page, notez tout de même que cela peut être perturbant pour certains utilisateurs.</p>
<p>Quoi qu'il en soit, le contenu principal de la page doit afficher les résultats trouvés. Ils doivent se situer juste après le formulaire de recherche afin d'être l'élément suivant de la navigation clavier, juste après le bouton d'envoi de la recherche.</p> 
<p>Il faut faire précéder les résultats d'un titre de rubrique, reprenant le terme recherché et le nombre total de résultats et, si besoin, en cas de pagination, le nombre de résultats affichés dans la page.</p>
<p>Ce titre de rubrique doit être notifié aux utilisateurs, y compris ceux utilisant des aides techniques et en particulier, des lecteurs d'écran. Pour cela, nous utilisons de l'<abbr>ARIA</abbr>, le <code>role="alert"</code> permettra une lecture dynamique du contenu de l'élément au <abbr>AT</abbr>, sachant que nous rechargerons à chaque recherche cette partie de page (le <code>role="alert"</code> n'étant lu qu'une fois à la différence de <code>aria-live="true"</code>).</p>
<!-- Code pour form de recherche et résultats -->
<pre><code class="html">
...
  &lt;form class="d-flex" role="search"&gt;
    &lt;input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher dans le site"&gt;
    &lt;button class="btn btn-primary" type="submit"&gt;Rechercher&lt;/button&gt;
  &lt;/form&gt;
  &lt;h2 role="alert"&gt;
    15 résultats, 5 affichés pour "Fibre" 
  &lt;/h2&gt;
...
</code></pre>

<p>Nota bene &nbsp;: la pagination des résultats de recherche est une bonne option pour éviter des pages de résultats trop longues. Cependant, il ne faut pas utiliser le chargement dynamique infini en particulier au scroll, car il est souvent inaccessible et peu utilisable.</p>

<h3>L'affichage et la sémantique des résultats</h3>
<p>Sémantiquement, les résultats de la recherche à afficher sont, soit une liste (ordonnée ou pas), soit un tableau de données. Si des filtres, par exemple, permettent de classer les résultats par pertinence, nombre d'occurrences du terme recherché, par date... alors il faudra choisir une liste ordonnée <code>ol</code> ou signifier cet ordre de tri dans le tableau de résultats. Le choix de la sémantique des résultats va dépendre de plusieurs critères&nbsp;:<br />
<ul>
<li>le type de données à afficher, par exemple, si les résultats sont une liste de titre d'articles et un chapeau ou un résumé, la liste semble adaptée.</li>
<li>les données à afficher par résultat, par exemple, si ce sont des produits avec le nom, le prix, des détails... le tableau de données sera préféré du fait de la structure de données plus complexe.</li>
</ul>
</p>
<p>Pour ce qui est de la sémantique de chaque résultat, le titre de l'article, le nom du produit... doivent être un titre de rubrique, le chapeau ou le résumé, les détails... mis dans un paragraphe ou dans une cellule de tableau de données.</p>
<p>Remarque, il est souhaitable de mettre en emphase visuelle (surligné, souligné...) et sémantique (<code>mark</code>) le terme recherché dans les résultats affichés !</p>

<h3>La pagination</h3>
<p>Lorsque le nombre de résultats dépasse la dizaine, il est utile de paginer ces résultats. Pour faciliter la navigation, la bonne pratique est de mettre un titre de rubrique de même niveau que celui de chaque résultat  positionné au début du composant de pagination afin de l'identifier.

<!-- Code pour résultats et pagination -->
<pre><code class="html">
...
  &lt;h2 role="alert"&gt;
    15 résultats, 5 affichés pour "Fibre" 
  &lt;/h2&gt;
...
  &lt;h3&gt;Déploiement de la &lt;strong&gt;fibre&lt;/strong&gt; en 2021 en Rhône-Alpes chez Orange&lt;/h2&gt;
  &lt;p&gt;Orange prévoit un déploiement accéléré de la &lt;strong&gt;fibre&lt;/strong&gt; dans le zones blanches...&lt;/p&gt;
...
  &lt;nav aria-labelledby="pagination"&gt;
  &lt;h3 id="pagination" class="visually-hidden"&gt;Pagination des résultats de recherche &lt;/h3&gt;
  &lt;ul class="pagination"&gt;
...
</code></pre>
</p>
