---
title: "Listbox"
abstract: "Example of ARIA list (part 1)."
titleBeforeTag: true
date: "2018-01-07"
updateDate: "2025-05-05"
tags:
  - component
---

<h2>Introduction</h2>

<p><abbr>ARIA</abbr> provides a large number of components that can be used in rich interfaces (tab, accordion, slider, listbox...). In this example, we will look into the listbox component.
A listbox is a component that allows the user to select one or more items from a list.
The items of a listbox are static, a listbox is not intended to receive interactive items (such as links, buttons…), however it can contain images unlike the <code>select</code>.</p>
<p>More info: <a href="https://w3c.github.io/aria-practices/#Listbox"><abbr>WAI-ARIA</abbr> Authoring Practices</a>.</p>

<h2>Caution</h2>
<p>Although improvements have been made, support for <abbr>ARIA</abbr> is still partial for all screen readers. Its use should be conditioned by compatibility tests on the target environments (browser/screen reader combinations).</p>

<h2>Implementation</h2>

<h3><abbr title="Hypertext Markup Language">HTML</abbr> code</h3>
<p>To create a listbox, just apply the role <code>listbox</code> to a parent container. Then apply the <code>option</code> role to the list items. We must make it focusable for users who navigate using the keyboard (adding the <code>tabindex="0"</code> attribute) or adding the <code>aria-label</code> or <code>aria-labelledby</code> label for people using a screen reader.</p>

<pre><code class="html">
&lt;ul role="listbox" tabindex="0" aria-label="folder list"&gt;
  &lt;li role="option"&gt;Inbox (4) &lt;span class="visually-hidden"&gt;unread messages&lt;/span&gt;&lt;/li&gt;
  &lt;li role="option"&gt;Sent&lt;/li&gt;
  &lt;li role="option"&gt;Draft&lt;/li&gt;
  &lt;li role="option"&gt;Trash&lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<p>Note that the <code>ul</code> and <code>li</code> tags could be replaced by simple <code>div</code> tags, their semantics are overloaded by the <abbr>ARIA</abbr> roles.</p>

<h3>Interactions</h3>
<p>To stick with the pattern of the <abbr>ARIA</abbr> listbox (<a href="https://w3c.github.io/aria-practices/#Listbox"><abbr>WAI-ARIA</abbr> Authoring Practices - listbox</a>), we must handle some interactions using JavaScript.</p>

<p>Keyboard interaction:</p>
<ul>
    <li><kbd>Up</kbd> arrow to select the previous item</li>
    <li><kbd>Down</kbd> arrow to select the next item</li>
</ul>

<p>For multiple selection lists: <kbd>shift</kbd> or <kbd>control</kbd> + <kbd>Up</kbd> and <kbd>Down</kbd> arrows, space bar.</p>

<h3>Examples</h3>
<p>The W3C provides <a href="https://www.w3.org/WAI/ARIA/apg/patterns/listbox/#examples-7">several functional examples</a>.</p>

<h2>Links</h2>
More information on <abbr>ARIA</abbr> and listbox:
<ul>
  <li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/listbox/"><abbr>WAI</abbr>-<abbr>ARIA</abbr> Authoring Practices Guide: listbox</a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/listbox_role"><abbr>MDN</abbr> Using listbox role</a></li>
  <li><a href="https://www.w3.org/TR/wai-aria-1.2/#listbox"><abbr>WAI</abbr>-<abbr>ARIA</abbr> The roles model: listbox</a></li>
</ul>
