---
title: "Créer des tags accessibles 2/2"
abstract: "Exemple d'étiquettes accessibles (partie 2)."
tags: componentsExamples_fr
---

<h1>Créer des «&nbsp;tags&nbsp;» accessibles 2/2</h1>

<h2>Préambule</h2>
<p>Seconde partie sur la création de «&nbsp;tags&nbsp;» accessibles, maintenant que nous avons vu comment créer des tags dans <a href="../">la première partie</a>, nous allons voir deux exemples d’utilisation.</p>

<h2>Exemple 1&nbsp;: filtre par marques</h2>

<p>Cet exemple montre la mise en place d’une zone de filtre à choix multiple.</p>
<a href="../exemples/filtre-par-marque/" target="_blank" class="btn btn-secondary" rel="noopener noreferrer">Ouvrir l’exemple 1<span class="sr-only"> (nouvelle fenêtre)</span></a>

<h2>Exemple 2&nbsp;: liste de destinataires</h2>

<p>Cet exemple montre la mise en place d’une zone d’édition permettant de saisir des destinataires.</p>
<a href="../exemples/ajout-destinataire/" target="_blank" class="btn btn-secondary" rel="noopener noreferrer">Ouvrir l’exemple 2<span class="sr-only"> (nouvelle fenêtre)</span></a>
