---
title: "Creating accessible tags 1/2"
abstract: "Sample code to make accessible tags (part 1)."
titleBeforeTag: true
date: "2018-01-05"
updateDate: "2025-03-10"
tags:
  - component
---

<h2>Preamble</h2>
<p>In this article, we will create accessible tags — you know, these buttons we use to categorize content or add a list of recipients, etc.</p>

<h2>Final design</h2>
<p>Here is an example of the expected design:</p>
<img src="examples/tag.png" alt="Screenshot of several tags in a web page">

<h2 class="mt-3"><abbr>HTML</abbr> structure</h2>
<p>As tags do not wander on their own, we will create an <abbr>HTML</abbr> list. Thus, a user browsing with a screen reader will directly hear the number of tags on display: "List of X elements...".
</p>

<pre><code class="html">
  &lt;ul&gt;
      &lt;li&gt;Alcatel&lt;/li&gt;
      &lt;li&gt;Doro&lt;/li&gt;
      &lt;li&gt;Apple&lt;/li&gt;
      &lt;li&gt;LG&lt;/li&gt;
      &lt;li&gt;Sony&lt;/li&gt;
  &lt;/ul&gt;
</code></pre>

<div class="exemple">
  <h3>Step 1</h3>
  <a target="_blank" title="Open step 1" href="examples/1/"><img src="examples/step1.png" alt="Open step 1 (new window)"></a>
</div>

<h2 class="mt-3">Removing a tag</h2>
<p>One must be able to remove a tag. We will add a 'Remove' button on each element in our list. For users who cannot see the screen and browse with a screen reader, a plain 'Remove' button is not sufficient. We will add the tag name to the button's label to disambiguate, i.e., 'Remove Sony from the list.'</p>
<p>The use of a real button makes this functionality accessible to the screen reader, but also to people who cannot use a mouse and rely on a keyboard to move the focus (with the <kbd>Tab</kbd> key). A button can indeed be focused naturally.</p>

<pre><code class="html">
  &lt;ul&gt;
    &lt;li&gt;Alcatel&lt;button&gt;Remove Alcatel from the list&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;Doro&lt;button&gt;Remove Doro from the list&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;Apple&lt;button&gt;Remove Apple from the list&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;LG&lt;button&gt;Remove LG from the list&lt;/button&gt;&lt;/li&gt;
    &lt;li&gt;Sony&lt;button&gt;Remove Sony from the list&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
</code></pre>

<div class="exemple">
  <h3>Step 2</h3>
  <p><a target="_blank" title="Open step 2" href="examples/2/"><img src="examples/step2.png" alt="Open step 2 (new window)"></a></p>
</div>

<p>Here we present simple and accessible tags. Admittedly, their appearance is not particularly appealing at this stage.</p>

<h2>Let's decorate</h2>
<p>Now that our tags are accessible, we can decorate them. The ideal solution would be to make them look like the first illustration at the beginning of this article. We have several solutions.</p>

<p>For example, we can start by replacing the button's text by an "X" or a cross-shaped icon.</p>

<pre><code class="html">
  &lt;ul&gt;
    &lt;li&gt;Alcatel&lt;button&gt;X&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
</code></pre>

<div class="exemple">
  <h3>Step 3</h3>
  <p><a target="_blank" title="Open step 3" href="examples/3/"><img src="examples/step3.png" alt="Open step 3 (new window)"></a></p>
</div>

<p>But wait, we've just lost screen reader users. The buttons are now vocalized as 'X'. We can fix this by giving a proper accessible name to these buttons, for example, by using the <code>aria-label</code> attribute.</p>

<pre><code class="html">
  &lt;ul&gt;
    &lt;li&gt;Alcatel&lt;button aria-label="Remove Alcatel from the list"&gt;X&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
</code></pre>

<p>We'll add some <abbr>CSS</abbr> to hide the button background and borders.</p>

<pre><code class="css">
button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
}
</code></pre>

<div class="exemple">
  <h3>Step 4</h3>
  <p><a target="_blank" title="Open step 4" href="examples/4/"><img src="examples/step4.png" alt="Open step 4 (new window)"></a></p>
</div>

<h2>Optimisation</h2>

<p>It works, but it's not perfect. You have to aim precisely to remove a tag because the cross-shaped button is a bit small. It's not very user-friendly and could be a problem for people with a trembling hand or those who have difficulties using a mouse.</p>

<p>Since we know that removing is the only possible action, we could extend the clickable zone to the whole tag. Hence, even if you slightly miss the target, the remove action will be taken into account.</p>

<pre><code class="html">
  &lt;ul&gt;
    &lt;li&gt;&lt;button aria-label="Remove Alcatel from the list"&gt;Alcatel&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
</code></pre>

<p>We add the cross via <abbr>CSS</abbr>:</p>

<pre><code class="css">
  li button:after {
    content: "x";
    margin: .25rem .25rem .25rem .75rem;
    padding-left: .4rem;
    border-left: .15rem solid #fff;
  }
</code></pre>

<div class="exemple">
  <h3>Step 5</h3>
  <p><a target="_blank" title="Open step 5" href="examples/5/"><img src="examples/step5.png" alt="Open step 5 (new window)"></a></p>
</div>

<p>It's better. Visually, we can see two things in each tag: the label and a remove button. However, with a screen reader, we currently only hear for the moment 'Remove x from the list'. To correct this, we add a <code>span</code> containing the tag's label. To prevent it from being displayed on screen (this would double the information), we add to it an accessible hiding class (<code>visually-hidden</code>). The text will only be read by screen readers.</p>

<pre><code class="html">
  &lt;ul&gt;
    &lt;li&gt;&lt;span class="visually-hidden"&gt;Alcatel&lt;/span&gt;&lt;button aria-label="Remove Alcatel from the list"&gt;Alcatel&lt;/button&gt;&lt;/li&gt;
  &lt;/ul&gt;
</code></pre>
<p>With a screen reader, we now hear each tag's label, then a button to remove it.</p>

<div class="exemple">
  <h3>Step 6</h3>
  <p><a target="_blank" title="Open step 6" href="examples/6/"><img src="examples/step6.png" alt="Open step 6 (new window)"></a></p>
</div>

<p>We still have one last problem: if we navigate the page with a keyboard (moving the focus with the <kbd>Tab</kbd> key), we don't know on which button the focus is.</p>

<p>We add a bit of <abbr>CSS</abbr> to give emphasis to the focus. We also take the opportunity to do the same for hover.</p>

<pre><code class="css">
  button:hover, button:focus {
    background-color: #f16e00;
    color: #000;
  }
</code></pre>

<div class="exemple">
  <h3>Step 7</h3>
  <p><a target="_blank" title="Open step 7" href="examples/7/"><img src="examples/step7.png" alt="Open step 7 (new window)"></a></p>
</div>

<h2>Optimisation (again)</h2>
<p>Our tags are accessible. However, when we remove one tag with the keyboard, the focus stays on the vanished tag; thus we don't know where the focus is. This can be easily fixed with a bit of JavaScript. We can focus on the previous element, for example:</p>

<pre><code class="javascript">
  $("button").on("click", function () {
      <span class="highlight-code">$(this).parent().prev().find("button").focus();</span>
      $(this).parent().remove();
  });
</code></pre>

<div class="exemple">
  <h3>Step 8</h3>
  <p><a target="_blank" title="Open step 8" href="examples/8/"><img src="examples/step8.png" alt="Open step 8 (new window)"></a></p>
</div>

<p>When a tag is removed, we see it disappear from the screen. However, if we want a screen reader user to be sure that the tag was removed, we'll have to vocalize a confirmation message to the user.</p>
<p>To manage this, we can use our <a href="../make-a-screen-reader-talk/">JavaScript srSpeak function</a>, which uses ARIA to make the screen reader speak.</p>

<pre><code class="javascript">
  $("button").on("click", function () {
      <span class="highlight-code">$(this).parent().prev().find("button").focus();</span>
      $(this).parent().remove();
      srSpeak($(this).text() + "removed");
  });
</code></pre>

<div class="exemple">
  <h3>Step 9</h3>
  <p><a target="_blank" title="Open step 9" href="examples/9/"><img src="examples/step9.png" alt="Open step 9 (new window)"></a></p>
</div>

<p>This time, our tags are genuinely accessible for mouse, keyboard, and screen reader users.</p>
