---
title: "Creating accessible “tags” 2/2"
abstract: "Sample code to make accessible tags (part 2) examples."
titleBeforeTag: true
date: "2018-01-06"
tags:
  - component
---

<h1>Creating accessible “tags” 2/2</h1>

<h2>Preamble</h2>
<p>This is the second part about creating accessible “tags”, now that we learned how to create tags in <a href="../">the first part</a>, we will see two implementation examples.</p>

<h2>Example 1: filter by brand</h2>

<p>This examples shows how to set up a filtre zone with multiple choice</p>
<a href="../examples/filter-by-brand/" target="_blank" class="btn btn-secondary">Open example 1<span class="visually-hidden"> (new window)</span></a>

<h2>Example 2: recipients list</h2>

<p>This example shows how to set up an editable zone that makes it possible to input recipients.</p>
<a href="../examples/adding-a-recipient/" target="_blank" class="btn btn-secondary">Open example 2<span class="visually-hidden"> (new window)</span></a>
