---
title: "Exemple 4 : les tags"
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li>Alcatel<button aria-label="Retirer Alcatel de la liste">X</button></li>
        <li>Doro<button aria-label="Retirer Doro de la liste">X</button></li>
        <li>Apple<button aria-label="Retirer Apple de la liste">X</button></li>
        <li>LG<button aria-label="Retirer LG de la liste">X</button></li>
        <li>Sony<button aria-label="Retirer Sony de la liste">X</button></li>
    </ul>
</div>
