---
title: "Déclaration d’accessibilité"
css:
- "/assets/accessibility-statement.css"
---

<h1>Déclaration d'Accessibilité : Site des recommandations d'accessibilité numérique Orange</h1>

<div class="border-500 border-top border-bottom">
  <div class="row">
    <div class="col-lg-3">

      <h2 class="pie" data-value="97">
        <span class="pie-val"><span class="pie-percentage">97%</span><br>conforme</span>
      </h2>

      <p class="lead font-weight-bold">Ce site est conforme à 97% aux critères <abbr lang="en" title="Web Content Accessibility Guidelines">WCAG</abbr>, avec 1 non-conformité.</p>
    </div>

    <div class="col-lg-3">
      <h3 class="h6 mt-4">Date de l'audit</h3>
      <p>25/02/2021</p>

      <h3 class="h6 mt-4">Identité du déclarant</h3>
      <p>
        ORANGE SA<br>
        Siège social : 78, rue Olivier de Serres, 75 015 Paris<br>
      </p>

      <h3 class="h6 mt-4">Référentiel</h3>
      <p>
        <a href="https://www.w3.org/TR/WCAG21/"><abbr lang="en" title="Web Content Accessibility Guidelines">WCAG</abbr> version 2.1, niveau AA</a>.<br>
      </p>
    </div>

    <div class="col-lg-6">
      <h3 class="h6 mt-4">Technologies du site</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>

      <h3 class="h6 mt-4">Méthodes et outils utilisés pour vérifier l’accessibilité</h3>
      <ul>
        <li><strong>Tests automatiques&nbsp;:</strong> aXe V 4.7.1, Wave V 3.1.3</li>
        <li><strong>Tests manuels&nbsp;:</strong> <a href="https://a11y-guidelines.orange.com/fr/web/la-va11ydette/">va11ydette d'Orange</a>, Color Contrast Analyser V 3.1.2, analyse de la source</li>
        <li><strong>Tests fonctionnels&nbsp;:</strong> NVDA V 2020.3, navigation au clavier</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">

    <h2 class="h4 mt-4">Introduction</h2>
    <p>
      Cette page décrit le niveau d'accessibilité général constaté sur le site.<br>
      Il s'agit d'une déclaration de prise en compte des exigences internationales d'accessibilité, <abbr lang="en" title="Web Content Accessibility Guidelines">WCAG</abbr> : <i lang="en">Web Content Accessibility Guidelines</i>, recommandations d’Accessibilité des contenus Web.<br>
      Ces règles sont éditées par le <abbr lang="en" title="World Wide Web Consortium">W3C</abbr>, organisme de standardisation chargé de promouvoir la compatibilité des technologies du Web.<br>
      Cette page fait partie du <a href="https://oran.ge/accessibilite-schema" title="Schéma pluriannuel d’amélioration de l’accessibilité numérique (PDF, 230Ko)">schéma pluriannuel d’amélioration de l’accessibilité numérique</a> sur lequel s’engage Orange.<br>
      Les tests ont été réalisés par le centre de compétences d’accessibilité numérique du groupe.
    </p>

    <h2 class="h4 mt-4">Pages ayant fait l’objet de la vérification de conformité</h2>

    <p>L'audit a été effectué sur l'échantillon suivant :</p>

    <ol>
      <li><strong>Accueil :</strong> https://a11y-guidelines.orange.com/fr/</li>
      <li><strong>Cadre Légal :</strong> https://a11y-guidelines.orange.com/fr/cadrage/cadre-legal/</li>
      <li><strong>Web Tester :</strong> https://a11y-guidelines.orange.com/fr/web/tester/</li>
      <li><strong>Mobile IOS Tester :</strong> https://a11y-guidelines.orange.com/fr/mobile/ios/test/</li>
      <li><strong>Articles :</strong> https://a11y-guidelines.orange.com/fr/articles/</li>
      <li><strong>Article Le Nom Accessible :</strong> https://a11y-guidelines.orange.com/fr/articles/le-nom-accessible-en-html/</li>
      <li><strong>Contenu Editorial:</strong> https://a11y-guidelines.orange.com/fr/contenu-editorial/</li>
    </ol>
  </div>

  <div class="col-md">
    <h2 class="h4 mt-4">Résultat des tests</h2>
    <p>L'audit réalisé révèle une conformité globale aux critères WCAG de 97%, avec 1 non-conformité.</p>

    <p>Un taux de conformité est calculé par page auditée : il est égal à la somme des critères conformes divisée par le nombre de critères applicables.</p>

    <div class="table-responsive">
      <table class="table text-center">
      {# Relative positioning is needed to prevent weird display bug where we can see a white border at the bottom of the empty column <th> #}
      <caption class="sr-only position-relative">Synthèse par niveau</caption>
      <colgroup>
        <col>
        <col span="2">
        <col span="2">
        <col span="2">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th scope="row">Critères</th>
          <th scope="col" colspan="2">Conformes</th>
          <th scope="col" colspan="2">Non-conformes</th>
          <th scope="col" colspan="2">Non-applicables</th>
          <th rowspan="2" class="bg-light">Taux de conformité </th>
        </tr>
        <tr>
          <th scope="col">Niveau</th>
          <th scope="col">A</th>
          <th scope="col">AA</th>
          <th scope="col">A</th>
          <th scope="col">AA</th>
          <th scope="col">A</th>
          <th scope="col">AA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Accueil</th>
          <td>17</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>13</td>
          <td>7</td>
          <td class="bg-light">96.67%</td>
        </tr>
        <tr>
          <th scope="row">Cadre Légal</th>
          <td>17</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>13</td>
          <td>7</td>
          <td class="bg-light">96.67%</td>
        </tr>
        <tr>
          <th scope="row">Web Tester</th>
          <td>19</td>
          <td>11</td>
          <td>0</td>
          <td>1</td>
          <td>11</td>
          <td>8</td>
          <td class="bg-light">96.77%</td>
        </tr>
        <tr>
          <th scope="row">Mobile IOS Tester</th>
          <td>19</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>11</td>
          <td>7</td>
          <td class="bg-light">96.88%</td>
        </tr>
        <tr>
          <th scope="row">Articles</th>
          <td>18</td>
          <td>11</td>
          <td>0</td>
          <td>1</td>
          <td>12</td>
          <td>8</td>
          <td class="bg-light">96.67%</td>
        </tr>
        <tr>
          <th scope="row">Article Le Nom Accessible </th>
          <td>18</td>
          <td>11</td>
          <td>0</td>
          <td>1</td>
          <td>12</td>
          <td>8</td>
          <td class="bg-light">96.67%</td>
        </tr>
        <tr>
          <th scope="row">Contenu Editorial</th>
          <td>17</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>13</td>
          <td>7</td>
          <td class="bg-light">96.67%</td>
        </tr>
      </tbody>
    </table>
    </div>

    <p><strong>Conformité globale (moyenne des pages) :</strong> 97%</p>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <h2 class="h4 mt-4">Détail des non-conformités</h2>
    <ul>
      <li>
        Critère 1.4.3, Contraste (minimum), niveau AA
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <h2 class="h4 mt-4">Amélioration et contact</h2>
    <p>Vous pouvez nous aider à améliorer l'accessibilité du site en nous signalant les problèmes éventuels que vous rencontrez. Pour ce faire, envoyez un <a href="mailto:accessibility.group@orange.com">courriel à accessibility.group@orange.com</a>
    </p>
  </div>
</div>
