---
title: "Les situations de handicap"
abstract: "Description des différents types de handicap"
---

<h1>Les situations de handicap</h1>

<h2>Le handicap auditif</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_hearing.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>Personnes sourdes</li>
      <li>Personnes malentendantes</li>
      <li>Personnes sourdes-aveugles</li>
      <li>Difficulté de perception de la parole dans un environnement bruyant</li>
    </ul>

    <p><strong>Solutions adaptées&nbsp;:</strong> transcription, sous-titres.</p>
  </div>
</div>


<h2>Le handicap visuel</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_vision.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>Personnes malvoyantes</li>
      <li>Personnes qui ne distinguent pas ou mal les couleurs (daltonisme, achromatopsie)</li>
      <li>Personnes sensibles à une forte luminosité des couleurs</li>
      <li>Personnes aveugles</li>
      <li>Personnes sourdes-aveugles</li>
    </ul>

    <p><strong>Solutions adaptées&nbsp;:</strong> tablette Braille, synthèse vocale, personnalisation de l’affichage (ajustement des couleurs).</p>
  </div>
</div>



<h2>Le handicap cognitif</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_cognitive.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>Personnes avec des troubles DYS</li>
      <li>Autres troubles affectant la lecture, la mémorisation, la concentration, la compréhension, la résolution des problèmes, le raisonnement et le langage.</li>
    </ul>

    <p><strong>Solutions adaptées&nbsp;:</strong> hiérarchisation et simplification de l’information, mise en page linéaire, police sans serif (Arial, OpenDyslexic, AccessibleDfa), logiciels de dictée.</p>
  </div>
</div>


<h2>Le handicap moteur et de préhension</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_dexterity.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>Difficultés de préhension et de contrôle des mouvements</li>
      <li>Personnes ayant des difficultés pour réaliser des combinaisons de touches</li>
      <li>Personnes dont les mains tremblent</li>
      <li>Personnes ne pouvant pas se servir d’une main ou de ses deux mains</li>
    </ul>

    <p><strong>Solutions adaptées&nbsp;:</strong> périphériques adaptés (souris ou clavier ergonomique, guide-doigts pour clavier, trackball, joystick, contacteur…), logiciels de dictée</p>
  </div>
</div>

<h2>Le handicap de parole</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_speech.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>Personnes muettes</li>
      <li>Personnes avec un trouble d'articulation</li>
      <li>Bègues</li>
    </ul>

    <p><strong>Exemple de solution&nbsp;:</strong> alternative non vocale à prévoir</p>
  </div>
</div>

<h2>L’accessibilité numérique</h2>

Les règles d’accessibilité servent au-delà des situations de handicaps identifiées et apportent du confort pour tous&nbsp;; quelques cas ci-dessous&nbsp;:

<ul>
  <li>Les environnements bruyants tels que open space, boutiques, hall d’accueil, …</li>
  <li>Les personnes avec un handicap temporaire (bras cassé, infection de l’œil, …)</li>
  <li>Un matériel ou service inapproprié (imprimante noir et blanc, Internet bas débit, …)</li>
  <li>Les formulaires à renseigner : la navigation au clavier permet de remplir les formulaires sans utiliser la souris et apporte un gain de temps appréciable</li>
</ul>
