---
title: "Liens utiles"
abstract: "Liens utiles"
usefulLinks: true
---

{% import "../_includes/components/ui.njk" as ui with context %}

<!doctype html>

        <h1 class="display-3">Accessibilité Numérique - Liens utiles</h1>
        <div class="container">
            <div class="row">
                <div class="col ">
                    <h2 class="display-4 pt-4">Sites généralistes</h2>
                    <nav class="navbar">
                        <div class="accordion col-sm-10" id="accordionPanelsStayOpenExample1">
                            <!-- Normes & Obligations Légales-->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading14">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse14" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse14">
                                        <span>Normes & Obligations Légales</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse14" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body ">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-norms" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Standards HTML -->

                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading12">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse12" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse12">
                                        <span>Standard HTML</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse12" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-standard" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- W3C - WCAG -->

                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading13">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse13" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse13">
                                        <span>W3C - WCAG</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse13" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-w3c" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- ARIA -->

                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading16">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse16" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse16">
                                        <span>ARIA</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse16" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-aria" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Référentiels pour audits Web -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse1" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse1">
                                        <span>Référentiels pour audits Web et mobile</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-audit" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Comment tester certains critères WCAG -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse5">
                                        <span>Comment tester certains critères WCAG</span>
                                    </button>
                                </h3>

                                <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-howtotest" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- WCAG pour les mobiles -->

                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading15">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse15" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse15">
                                        <span>WCAG pour les mobiles</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse15" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample1">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-mobiles" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </nav>
                </div>
                <div class="col">
                    <h2 class="display-4 pt-4">Composants et contenus</h2>

                    <nav class="navbar">
                        <div class="accordion col-sm-10" id="accordionPanelsStayOpenExample2">
                            <!-- Couleurs et contrastes -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse2">
                                        <span>Couleurs et contrastes</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-colors" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Tableaux -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse3">
                                        <span>Tableaux</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-tables" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Target Size -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse4">
                                        <span>Target Size</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-target-size" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Liens -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading6">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse6">
                                        <span>Liens</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-links" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Formulaires -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading7">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse7">
                                        <span>Formulaires</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-forms" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Graphiques et images complexes -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading8">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse8">
                                        <span>Graphiques et images complexes</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-graphics" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Navigation clavier -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading9">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse9">
                                        <span>Navigation clavier</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-keyboard" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Drag and Drop -->
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="panelsStayOpen-heading10">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse10">
                                        <span>Drag and Drop</span>
                                    </button>
                                </h3>
                                <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionPanelsStayOpenExample2">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            <ul id="urlList-dragdrop" class="list-group list-group-flush"></ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </nav>
                </div>
            </div>
        </div>
