---
title: "Accessibility statement"
abstract: "Accessibility statement for Orange Digital Accessibility Guidelines Web Site"
css:
  - "/assets/accessibility-statement.css"
---

<h1>Accessibility statement for Orange Digital Accessibility Guidelines Web Site</h1>

<div class="border-light border-top border-bottom">
  <div class="row">
    <div class="col-lg-3">

      <h2 class="pie" data-value="97">
        <span class="pie-val"><span class="pie-percentage">97%</span><br>compliant</span>
      </h2>

      <p class="lead font-weight-bold">This site is 97% compliant with <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> with 1 non-compliance.</p>
    </div>

    <div class="col-lg-3">
      <h3 class="h6 mt-4">Date of the audit</h3>
      <p>04/16/2021</p>

      <h3 class="h6 mt-4">Assessment approval</h3>
      <p>
        ORANGE SA<br>
        78 rue Olivier de Serres 75015 Paris<br>
      </p>

      <h3 class="h6 mt-4">Standard applied</h3>
      <p>
        <a href="https://www.w3.org/TR/WCAG21/"><abbr title="Web Content Accessibility Guidelines">WCAG</abbr> version 2.1, level AA</a>.
      </p>
    </div>

    <div class="col-lg-6">
      <h3 class="h6 mt-4">Technical specifications of the site</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
      </ul>

      <h3 class="h6 mt-4">Methods and Tools to evaluate accessibility</h3>
      <ul>
        <li><strong>Automatic testing:</strong> aXe V4.7.1, Wave V3.1.3</li>
        <li><strong>Manual testing:</strong> <a href="https://la-va11ydette.orange.com/?list=wcag-web&lang=en">va11ydette by Orange</a>, Color Contrast analyser, source analysis</li>
        <li><strong>Functional testing:</strong> NVDA V 2020.3, keyboard navigation</li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">

    <h2 class="h4 mt-4">Introduction</h2>
    <p>
      This page defines the level of accessibility of the site.<br>
      This is a statement of compliance with standard Web Content Accessibility Guidelines (WCAG).<br>
      These guidelines define how to make Web content more accessible to people with disabilities.<br>
      This statement is part of the Orange commitment towards accessibility as described in <a href="https://oran.ge/accessibilite-schema" title="the pluri-annual accessibility framework (French) (PDF, 230Ko)">the pluri-annual accessibility framework (French)</a>.<br>
      The assessment has been performed by Orange.
    </p>

    <h2 class="h4 mt-4">Scope of the assessment</h2>

    <p>The evaluation has been conducting on the following sample of web pages:</p>

    <ol>
      <li><strong>Welcome page:</strong>https://a11y-guidelines.orange.com/en/</li>
      <li><strong>Accessibility regulations:</strong>https://a11y-guidelines.orange.com/en/planning/accessibility-regulations/</li>
      <li><strong>Web Test:</strong>https://a11y-guidelines.orange.com/en/web/test/</li>
      <li><strong>Mobile IOS Test:</strong>https://a11y-guidelines.orange.com/en/mobile/ios/test/</li>
      <li><strong>Articles:</strong>https://a11y-guidelines.orange.com/en/articles/</li>
      <li><strong>Articles The Accessible Name in HTML:</strong>https://a11y-guidelines.orange.com/en/articles/accessible-name/</li>
      <li><strong>Editorial Content:</strong>https://a11y-guidelines.orange.com/en/editorial-content/</li>
    </ol>
  </div>

  <div class="col-md">
    <h2 class="h4 mt-4">Conformance status</h2>
    <p>The audit reports a mean compliance of 97% with WCAG with 1 non-compliance.</p>

    <p>A compliance score is measured for each audited page: the score equals the sum of compliant criteria divided by the number of criteria applicable to the page.</p>

    <div class="table-responsive">
      <table class="table text-center">
      {# Relative positioning is needed to prevent weird display bug where we can see a white border at the bottom of the empty column <th> #}
      <caption class="visually-hidden position-relative">Summary by level</caption>
      <colgroup>
        <col>
        <col span="2">
        <col span="2">
        <col span="2">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th scope="row">Criteria</th>
          <th scope="col" colspan="2">Compliant</th>
          <th scope="col" colspan="2">Non-Compliant</th>
          <th scope="col" colspan="2">Non applicables</th>
          <th rowspan="2" class="bg-light">Compliance rate</th>
        </tr>
        <tr>
          <th scope="col">Level</th>
          <th scope="col">A</th>
          <th scope="col">AA</th>
          <th scope="col">A</th>
          <th scope="col">AA</th>
          <th scope="col">A</th>
          <th scope="col">AA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Home Page</th>
          <td>17</td>
          <td>13</td>
          <td>0</td>
          <td>0</td>
          <td>13</td>
          <td>7</td>
          <td class="bg-light">100%</td>
        </tr>
        <tr>
          <th scope="row">Accessibility regulations</th>
          <td>17</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>13</td>
          <td>7</td>
          <td class="bg-light">97%</td>
        </tr>
        <tr>
          <th scope="row">Web Test</th>
          <td>19</td>
          <td>11</td>
          <td>0</td>
          <td>1</td>
          <td>11</td>
          <td>8</td>
          <td class="bg-light">97%</td>
        </tr>
        <tr>
          <th scope="row">Mobile iOS Test</th>
          <td>19</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>11</td>
          <td>7</td>
          <td class="bg-light">97%</td>
        </tr>
        <tr>
          <th scope="row">Articles</th>
          <td>18</td>
          <td>11</td>
          <td>0</td>
          <td>1</td>
          <td>12</td>
          <td>8</td>
          <td class="bg-light">97%</td>
        </tr>
        <tr>
          <th scope="row">Articles The Accessible Name in HTML</th>
          <td>18</td>
          <td>11</td>
          <td>0</td>
          <td>1</td>
          <td>12</td>
          <td>8</td>
          <td class="bg-light">97%</td>
        </tr>
        <tr>
          <th scope="row">Editorial Content</th>
          <td>17</td>
          <td>12</td>
          <td>0</td>
          <td>1</td>
          <td>13</td>
          <td>7</td>
          <td class="bg-light">97%</td>
        </tr>
      </tbody>
    </table>
    </div>

    <p><strong>Compliance rate (mean of pages):</strong> 97%</p>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <h2 class="h4 mt-4">Non-compliances</h2>
    <ul>
      <li>
        Criteria 1.4.3, Contrast (Minimum), Level AA
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-lg">
    <h2 class="h4 mt-4">Feedback and contact information</h2>
    <p>We welcome your feedback on the accessibility of this site. Please let us know if you encounter accessibility problems by sending an <a href="mailto:accessibility.group@orange.com">email to accessibility.group@orange.com</a></p>
  </div>
</div>
