---
title: "Accessibility statement"
abstract: "Accessibility statement for Orange Digital Accessibility Guidelines Web Site"
css:
  - "/assets/accessibility-statement.css"
  - "/assets/boosted-grid.min.css"
  - "/assets/pie.css"
---

<h1>Accessibility statement: Orange Digital Accessibility Guidelines Web Site</h1>

<div class="summary">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="h4 mt-4">Context</h2>
            <p>Orange SA continues to expand inclusive and accessible services so more people can benefit from digital
                technology and feel confident using it.</p>
            <p>Orange is commited to make its internet, intranet, extranet websites and its mobile applications
                accessible in accordance with article 47 of Law No. 2005-102 of February 11, 2005.</p>
            <p>In order to do so, Orange implements the following strategy and actions:</p>
            <p><a href="https://oran.ge/accessibility-schema"
                    title="Digital Accessibility Multi-year Plan 2024 - 2026">Digital Accessibility Multi-year Plan 2024
                    - 2026</a>.</p>
            <p><a href="https://oran.ge/accessibility-plan"
                    title="Actions performed over the years and action plan for the current year">Actions performed over
                    the years and action plan for the current year</a>.</p>
            <p>This accessibility statement applies to Orange Digital Accessibility Guidelines Web Site.</p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg">

        <h2 class="h4 mt-4">Conformity level:</h2>
        <p>"Orange Digital Accessibility Guidelines Web Site" is partially compliant to the criteria with <a
                href="https://www.w3.org/TR/WCAG22/"><abbr lang="en"
                    title="Web Content Accessibility Guidelines">WCAG</abbr> version 2.2, level AA</a>.</p>

        <p>ORANGE SA refers to the WCAG international recommendations version 2.2, level AA. <a
                href="https://a11y-guidelines.orange.com/fr/cadrage/correspondance-rgaa-wcag/" hreflang="fr">Here is the
                correspondence link between the RGAA and the WCAG (french)</a>.</p>
        <p>The analyze was carried out via <a href="https://la-va11ydette.orange.com/?lang=en">la Va11ydette</a>.</p>

        <h3>Tests result</h3>
        <div class="row summary">
            <div class="col-lg-auto text-center d-flex flex-column-reverse align-items-center">
                <h4 class="lead">Global compliance</h4>
                <p class="pie" data-value="97">
                    <span class="visually-hidden">Global compliance </span>
                    <span class="pie-val">97%</span>
                </p>
            </div>
            <div class="col-lg-auto text-center d-flex flex-column-reverse align-items-center">
                <h4 class="lead">Average compliance</h4>
                <p class="pie" data-value="99">
                    <span class="visually-hidden">Average compliance </span>
                    <span class="pie-val">99%</span>
                </p>
            </div>
        </div>
        <p>The compliance audit carried out by ORANGE SA reveals that:</p>
        <ul>
            <li>97% of WCAG level A and AA criteria are met.</li>
            <li>For your information, the average compliance rate of the online service is 100%.</li>
        </ul>
        <div class="table-responsive">
            <table class="table table-striped">
                <caption>Summary by levels</caption>
                <thead>
                    <tr>
                        <th scope="row">Level</th>
                        <th scope="col" class="text-center">A</th>
                        <th scope="col" class="text-center">AA</th>
                        <th scope="col" class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row" class="font-weight-bold">Number of criteria</th>
                        <td class="text-center">31</td>
                        <td class="text-center">24</td>
                        <td class="text-center">55</td>
                    </tr>

                    <tr>
                        <th scope="row" class="font-weight-bold">Compliant</th>
                        <td class="text-center">17</td>
                        <td class="text-center">16</td>
                        <td class="text-center">33</td>
                    </tr>

                    <tr>
                        <th scope="row" class="font-weight-bold">Non-compliant</th>
                        <td class="text-center">0</td>
                        <td class="text-center">1</td>
                        <td class="text-center">1</td>
                    </tr>

                    <tr>
                        <th scope="row" class="font-weight-bold">Not applicable</th>
                        <td class="text-center">14</td>
                        <td class="text-center">7</td>
                        <td class="text-center">21</td>
                    </tr>

                    <tr>
                        <th scope="row" class="font-weight-bold bg-light">Compliance</th>
                        <td class="text-center bg-light">
                            100%
                        </td>
                        <td class="text-center bg-light">
                            94%
                        </td>
                        <td class="text-center bg-light">
                            97%
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <caption>Compliance rate by pages according to the two levels of criteria A and AA</caption>
                <tr>
                    <th scope="row">Criteria / Level</th>
                    <th scope="col" class="text-center">Compliant / A</th>
                    <th scope="col" class="text-center">Compliant / AA</th>
                    <th scope="col" class="text-center">Non-compliant / A</th>
                    <th scope="col" class="text-center">Non-compliant / AA</th>
                    <th scope="col" class="text-center">Not applicable / A</th>
                    <th scope="col" class="text-center">Not applicable / AA</th>
                    <th scope="col" class="text-center bg-light">Compliance rate</th>
                </tr>


                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Home + Common Elements</th>
                    <td>17</td>
                    <td>14</td>
                    <td>0</td>
                    <td>0</td>
                    <td>15</td>
                    <td>10</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Applicable Framework in France</th>
                    <td>13</td>
                    <td>13</td>
                    <td>0</td>
                    <td>0</td>
                    <td>19</td>
                    <td>11</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Contact</th>
                    <td>13</td>
                    <td>12</td>
                    <td>0</td>
                    <td>0</td>
                    <td>19</td>
                    <td>12</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Web Test</th>
                    <td>16</td>
                    <td>14</td>
                    <td>0</td>
                    <td>0</td>
                    <td>16</td>
                    <td>10</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>IOS Developer</th>
                    <td>14</td>
                    <td>13</td>
                    <td>0</td>
                    <td>1</td>
                    <td>18</td>
                    <td>10</td>
                    <td style="background-color:#ddd !important;">96 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Android Develop - Vocal navigation</th>
                    <td>14</td>
                    <td>13</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>11</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Essentials for documentation</th>
                    <td>12</td>
                    <td>12</td>
                    <td>0</td>
                    <td>0</td>
                    <td>20</td>
                    <td>12</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>E-learning - Storyline 360</th>
                    <td>13</td>
                    <td>13</td>
                    <td>0</td>
                    <td>0</td>
                    <td>19</td>
                    <td>11</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Articles</th>
                    <td>15</td>
                    <td>15</td>
                    <td>0</td>
                    <td>0</td>
                    <td>17</td>
                    <td>9</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Article - Towards an Accessible Digital
                        Single Market</th>
                    <td>14</td>
                    <td>14</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>10</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Glossary</th>
                    <td>9</td>
                    <td>10</td>
                    <td>0</td>
                    <td>0</td>
                    <td>23</td>
                    <td>14</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Some personas</th>
                    <td>14</td>
                    <td>12</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>12</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Persona - Samir</th>
                    <td>14</td>
                    <td>12</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>12</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Good digital accessibility practices for
                        Samir</th>
                    <td>14</td>
                    <td>12</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>12</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Fact sheets</th>
                    <td>14</td>
                    <td>13</td>
                    <td>0</td>
                    <td>0</td>
                    <td>18</td>
                    <td>11</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Fact sheet Accessibility Web (pdf)</th>
                    <td>10</td>
                    <td>2</td>
                    <td>0</td>
                    <td>0</td>
                    <td>22</td>
                    <td>22</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>
                <tr>
                    <th scope="row"><span class="visually-hidden">Page : </span>Accessibility</th>
                    <td>13</td>
                    <td>12</td>
                    <td>0</td>
                    <td>0</td>
                    <td>19</td>
                    <td>12</td>
                    <td style="background-color:#ddd !important;">100 %</td>
                </tr>

            </table>
        </div>

    </div>
</div>
<div class="row">

    <div class="col-lg">

        <h2 class="h4 mt-4">Content not accessible</h2>

        <p>All non-conformities have been identified and addressed by the appropriate teams. Below is the list of WCAG
            criteria that are not compliant:</p>

        <h3 class="h6 mt-4">Non-compliances</h3>
        <p>List of non-compliant WCAG criteria :</p>
        <ul>
            <li>
                1.4.5 Images of Text, Level AA
            </li>
        </ul>
    </div>
</div>

<div class="row">

    <div class="col-lg">
        <h2 class="h4 mt-4">Establishment of this accessibility statement</h2>
        <p>This declaration was established on 6/10/2026. </p>
    </div>
</div>
<div class="row">
    <div class="col-lg">


        <h3>Technical specifications of the site</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>


        <h3>Testing environment</h3>
        <p>The verifications were performed with the following software combinations:</p>
        <ul>
            <li>Chrome 148.0 and NVDA 2025.3</li>
            <li>Firefox 140.11 and NVDA 2025.3</li>
        </ul>

        <h3>Methods and Tools to evaluate accessibility</h3>
        <ul>
            <li><strong>Manual testing:</strong> Stylus, ANDI, HeadingsMap, Colour Contrast Analyzer, Web Developper
                3.0.1</li>
            <li><strong>Functional testing:</strong> NVDA 2025.3, Keyboard navigation</li>
        </ul>

    </div>
</div>

<div class="row">
    <div class="col-lg">
        <h3>Pages which have been the subject of compliance verification</h3>
        <p>The verification audit was performed on the following pages using the Orange va11ydette: </p>

        <ol class="text-break">
            <li><strong>Home + Common Elements : </strong>https://a11y-guidelines.orange.com/en/ </li>
            <li><strong>Applicable Framework in France :
                </strong>https://a11y-guidelines.orange.com/en/planning/legal-framework-in-france/</li>
            <li><strong>Contact : </strong>https://a11y-guidelines.orange.com/en/contact/</li>
            <li><strong>Web Test : </strong>https://a11y-guidelines.orange.com/en/web/test/ </li>
            <li><strong>IOS Developer : </strong>https://a11y-guidelines.orange.com/en/mobile/ios/development/</li>
            <li><strong>Android Develop - Vocal navigation :
                </strong>https://a11y-guidelines.orange.com/en/mobile/android/development/vocal-navigation/</li>
            <li><strong>Essentials for documentation :
                </strong>https://a11y-guidelines.orange.com/en/content-and-communication/essentials-checklist/</li>
            <li><strong>E-learning - Storyline 360 :
                </strong>https://a11y-guidelines.orange.com/en/content-and-communication/e-learning/</li>
            <li><strong>Articles : </strong>https://a11y-guidelines.orange.com/en/articles/</li>
            <li><strong>Article - Towards an Accessible Digital Single Market :
                </strong>https://a11y-guidelines.orange.com/en/articles/EAA-law/</li>
            <li><strong>Glossary : </strong>https://a11y-guidelines.orange.com/en/glossary/</li>
            <li><strong>Some personas : </strong>https://a11y-guidelines.orange.com/en/persona/</li>
            <li><strong>Persona - Samir : </strong>https://a11y-guidelines.orange.com/en/persona/samir/</li>
            <li><strong>Good digital accessibility practices for Samir :
                </strong>https://a11y-guidelines.orange.com/en/persona/samir-best-practice/</li>
            <li><strong>Fact sheets :
                </strong>https://a11y-guidelines.orange.com/en/articles/fact-sheet-accessibility/#fact-sheets-list/</li>
            <li><strong>Fact sheet Accessibility Web (pdf) :
                </strong>https://a11y-guidelines.orange.com/en/res/memos/dev-web/Web-Fact-Sheet-Orange.pdf</li>
            <li><strong>Accessibility : </strong>https://a11y-guidelines.orange.com/en/accessibility/</li>
        </ol>
    </div>
</div>
<div class="row">

    <div class="col-lg">

        <h2 class="h4 mt-4">Feedback and contact information</h2>
        <p>If you are unable to access content or a service, you can contact the site manager to be directed to an
            accessible alternative or obtain the content in another form.</p>

        <p>We welcome your feedback on the accessibility of this site. Please let us know if you encounter accessibility
            problems by sending an email to <a
                href="mailto:accessibility.group@orange.com">accessibility.group@orange.com</a>.</p>


    </div>
</div>
<div class="row">

    <div class="col-lg">

        <h2 class="h4 mt-4">Legal remedies</h2>
        <p>You have reported to the website manager an accessibility problem that prevents you from accessing content or
            one of the portal's services and you have not received a satisfactory response, in this case:</p>
        <ul>
            <li>Write a message to the <a
                    href="https://formulaire.defenseurdesdroits.fr/formulaire_saisine/?locale=en_GB">Defender of
                    Rights</a>.</li>
            <li>Or contact the <a href="https://www.defenseurdesdroits.fr/defender-rights-311">Defender of Rights
                    delegate in your department</a>.</li>
            <li>Or send a letter by post (free of charge, do not put a stamp) <br>
                <address> Défenseur des droits <br> Free answer 71120 <br> 75342 Paris CEDEX 07 </address>
            </li>
        </ul>

    </div>
</div>
