---
title: "Types of disabilities"
abstract: "The different types of disability"
---

<h1>Types of Disabilities</h1>

<h2>Hearing impairments</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_hearing.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>Deaf people</li>
      <li>Hard of hearing people</li>
      <li>Deaf-blind people</li>
      <li>Difficulty understanding speech in noisy environments</li>
    </ul>

    <p><strong>Examples of assistive technologies for video:</strong> transcript (text document that contains the text spoken in a video), captions (text displayed on screen that describes the dialog or sound of a video).</p>
  </div>
</div>



<h2>Visual impairments</h2>


<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_vision.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>People with low vision</li>
      <li>People with color blindness</li>
      <li>People sensitive to bright colors or lights</li>
      <li>Blind people</li>
      <li>Deaf-blind people</li>
    </ul>

    <p><strong>Examples of assistive technologies:</strong> braille display, screen reader, screen magnifier, customization of the display options.</p>
  </div>
</div>


<h2>Cognitive impairments</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_cognitive.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>People with dyslexia</li>
      <li>People with autism</li>
      <li>Other disorder involving problems with reading, memory, concentration, understanding, problem solving, and language.</li>
    </ul>

    <p><strong>Examples of assistive technologies:</strong> speech recognition, hierarchized and simplified information, sans-serif fonts (Arial, OpenDyslexic), customized text spacing and colors.</p>
  </div>
</div>


<h2>Motor and dexterity impairments</h2>

<div class="d-flex">
  <img src="/images/icons/solaris/accessibility_dexterity.svg" width="100" height="100" alt="">

  <div class="pl-3">
    <ul class="list-position-inside pl-0">
      <li>People with limited or no use of their hands</li>
      <li>People with uncontrollable tremors</li>
      <li>People with difficulties to manipulate a mouse or type on a keyboard</li>
      <li>People not able to use a mouse or a keyboard</li>
    </ul>

    <p><strong>Examples of assistive technologies:</strong> ergonomic keyboard and mouse, keyboard keyguard, joysticks, trackballs, switches, speech recognition software.</p>
  </div>
</div>


<h2>Digital accessibility</h2>

<strong>Digital accessibility is useful beyond physical and mental impairments and brings comfort to everyone</strong> in case of:

<ul>
  <li>Noisy environments such as open space, shop, reception hall</li>
  <li>Inadequate resources (black and white printer, low bandwidth Internet)</li>
  <li>Online forms that can be completed using the keyboard alone without the need to use the mouse</li>
</ul>
