@charset "UTF-8";

@font-face {
  font-display: swap;
  font-family: "HelvNeueOrange";
  font-style: normal;
  font-weight: 400;
  src:
    url("/assets/fonts/HelvNeue55_W1G.woff2") format("woff2"),
    url("/assets/fonts/HelvNeue55_W1G.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "HelvNeueOrange";
  font-style: normal;
  font-weight: 700;
  src:
    url("/assets/fonts/HelvNeue75_W1G.woff2") format("woff2"),
    url("/assets/fonts/HelvNeue75_W1G.woff") format("woff");
}



/**
 * General
 */

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}



/**
 * Typography
 */

/* Citations */
blockquote {
  quotes: "«\00A0" "\00A0»";
}

blockquote p {
  margin-bottom: 0;
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}



/**
 * Table Of Content and Side navigation
 */

.StickySideNavigation {
  background: #fff;
  position: sticky;
  top: 1.25rem;
}

.StickySideNavigation a[aria-current] {
  color: #000 !important;
}

.StickySideNavigation a[aria-current]::before {
  background-color: #ff7900;
  bottom: .625rem;
  content: "";
  left: -4px;
  position: absolute;
  top: .625rem;
  width: 4px;
}



/**
 * Secondary navigation
 */

#secondary-navigation a[aria-current] {
  color: #000;
}

#secondary-navigation a[aria-current]::before {
  background-color: #ff7900;
}



/**
 * Back to top link
 */

#back-to-top {
  bottom: 1.25rem;
  position: fixed;
  right: 1.25rem;
  transition: opacity .25s ease;
}

#back-to-top:hover,
#back-to-top:focus {
  color: inherit;
  text-decoration: underline;
}



/*
 * Glossary
 * @see https://twitter.com/hankchizljaw/status/1200557556399247360
 */

.Glossary {
  display: grid;
  grid-template-columns: auto 1fr;
}

.Glossary dt:nth-of-type(odd),
.Glossary dd:nth-of-type(odd) {
  background-color: #eee;
}



/**
 * Footer
 */

[role="contentinfo"] a:not([aria-current]) {
  text-decoration: underline;
}

[role="contentinfo"] svg {
  fill: #fff;
}

[role="contentinfo"] a:hover svg,
[role="contentinfo"] a:focus svg {
  fill: currentColor;
}



/**
 * Components examples
 */

pre code .important {
  border: 1px solid #f00;
}

.highlight-code {
  background-color:rgba(255, 255, 128, .5) !important;
  z-index: 1000;
}

/* Source code */
pre code {
  border: .2rem solid #eee;
  display: block;
}



/**
 * Search field
 */

.form-control.bg-dark::placeholder {
  color: #eee;
}

#search-input-toggler {
  outline-color: #ff7900;
}

.algolia-autocomplete {
  display: block !important;
}

/* Adapt to small screens */
.algolia-autocomplete .ds-dropdown-menu {
  min-width: 300px;
  width: 100%;
}

/* Place the search dropdown to the left */
.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  right: unset !important;
}

.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu::before {
  left: 3rem;
  right: unset;
}

/* Customize colors and appearance */
.algolia-autocomplete .algolia-docsearch-suggestion {
  text-decoration: none;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-weight: 700;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: #666;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background-color: #ff7900;
  color: #000;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #ff7900 !important;
}

/* Make sure we have an outline when we navigate through the results with the keyboard */
.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion {
  outline: .125rem solid #ff7900;
  outline-offset: -.125rem;
}

.algolia-autocomplete .ds-suggestion.ds-cursor .algolia-docsearch-suggestion--content {
  background-color: #f6f6f6 !important;
}



/**
 * Utilities
 */

.bg-200 {
  background-color: #f6f6f6 !important;
}

.bg-300 {
  background-color: #eee !important;
}

.no-js .hidden-if-no-js {
  display: none !important;
}

.list-position-inside {
  list-style-position: inside !important;
}



/**
 * Responsive
 */

@media screen and (max-width: 479.98px) {
  .breadcrumb-item:nth-last-of-type(2)::before {
    transform: rotate(0);
  }

  .MobileDropdownNavigationContainer .dropdown ~ .dropdown {
    margin-top: .625rem;
  }
}
