---
layout: "templates/default"
permalink: 404.html
---

<h1>{{ title }}</h1>

{% for localeObject in site.locales | getSorted404Messages %}
  {%- set localeCode = localeObject.code -%}
  <section{% if locale != localeCode %} lang="{{ localeCode }}"{% endif %} class="mt-4">
    <h2>{{ localeObject.displayName | capitalize }}</h2>
    <p>{{ '404.content.message' | translate(localeCode) }}</p>
    <a href="/{{ localeCode }}" class="btn btn-secondary">{{ '404.content.linkLabel' | translate(localeCode) }}</a>
  </section>
{% endfor %}
