<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<link rel="alternate" type="application/rss+xml" title="{{ site.rss.title['fr'] }}" href="{{ site.rss.url['fr'] }}" />
<link rel="alternate" type="application/rss+xml" title="{{ site.rss.title['en'] }}" href="{{ site.rss.url['en'] }}" />
<title>Redirecting&hellip;</title>
<script>location="/{{ site.locales | getDefaultLocale('code') }}"</script>
<meta http-equiv="refresh" content="0; url=/{{ site.locales | getDefaultLocale('code') }}">
<meta name="robots" content="noindex">
<h1>Redirecting&hellip;</h1>
<a href="/{{ site.locales | getDefaultLocale('code') }}">Click here if you are not redirected.</a>
</html>
