---
title: "Test ajout destinataires"
css:
  - style.css
js:
  - script.js
---

<div class="example">
  <h1>Test ajout de destinataires</h1>
  <form>
      <label for="to"><h2>Liste des destinataires</h2> (saisir les noms et prénoms séparés par une virgule)&nbsp;:</label>
      <div class="field">
          <ul id="selection-list"></ul>
          <input id="to">
      </div>

      <label for="message">Message&nbsp;: </label>
      <textarea id="message"></textarea>
      <input type="submit" value="Envoyer">
  </form>
</div>
