---
title: "Test filtre par marque"
css:
  - style.css
js:
  - script.js
---

<div class="example">
  <h1>Filtre par marque</h1>
  <label for="brand-list">Sélectionner des marques :</label>
  <select id="brand-list" multiple="multiple">
    <option>Alcatel</option>
    <option>Apple</option>
    <option>Doro</option>
    <option>Huawei</option>
    <option>HTC</option>
    <option>Orange</option>
    <option>Google</option>
    <option>LG</option>
    <option>Microsoft</option>
    <option>Motorola</option>
    <option>Samsung</option>
    <option>Sony</option>
    <option>Wiko</option>
  </select>

  <button id="addBrands" class="visually-hidden">Ajouter les marques</button>

  <h2 id="selection-list-label">Liste des marques sélectionnées :</h2>
  <ul id="selection-list"></ul>
</div>
