<ul class="navbar-nav">
  {% for lang in site.locales.available %}
    {% set active = locale == lang %}
    <li class="nav-item">
      <a href="/{{ lang }}/" class="nav-link{% if active %} active" aria-current="true"{% else %}"{% endif %}>
        {{ lang | upper }}
      </a>
    </li>
  {% endfor %}
</ul>
