<nav role="navigation" aria-label="{% translate "changelang.label", locale %}">
  <ul class="navbar-nav">
    {%- for key, lang in site.locales -%}
      {% set active = locale == lang.code %}
      <li class="nav-item">
        <a href="/{{ lang.code }}/" class="nav-link{% if active %} active" aria-current="true"{% else %}"{% endif %} lang="{{ lang.code }}">
          {{ lang.displayName | capitalize }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>
