{% import "../ui.njk" as ui with context %}

{%- if page | shouldDisplaySecondaryNavigation(locale) -%}
<nav id="secondary-navigation" class="o-nav-local navbar-light mb-1" role="navigation" aria-label="{{ 'navigation.secondary.label' | translate }}">
  <div class="container-lg">
    <ul class="nav">
      {%- for category in navigation.main[locale] -%}
        {% if category.href in page.url %}
          {%- for link in category.subLevels -%}
            <li class="nav-item">
              {{ ui.navLink(link) }}
            </li>
          {%- endfor -%}
        {% endif %}
      {%- endfor -%}
    </ul>
  </div>
</nav>
{%- endif -%}
