<ul class="navbar-nav">
  {% for link in header.topNavigation[locale] %}
    <li class="nav-item">
      <a href="{{ link.href }}" class="nav-link">{{ link.label }}</a>
    </li>
  {% endfor %}
</ul>
