---
title: "Exemple 7 : les tags"
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li><span class="sr-only">Alcatel</span><button class="delete" aria-label="Retirer Alcatel de la liste">Alcatel</button></li>
        <li><span class="sr-only">Doro</span><button class="delete" aria-label="Retirer Doro de la liste">Doro</button></li>
        <li><span class="sr-only">Apple</span><button class="delete" aria-label="Retirer Apple de la liste">Apple</button></li>
        <li><span class="sr-only">LG</span><button class="delete" aria-label="Retirer LG de la liste">LG</button></li>
        <li><span class="sr-only">Sony</span><button class="delete" aria-label="Retirer Sony de la liste">Sony</button></li>
    </ul>
</div>
