name: Publish website

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    name: Build & deploy website
    runs-on: ubuntu-latest
    if: github.repository == 'Orange-OpenSource/a11y-guidelines'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies
        run: npm install

      - name: Compile 11ty
        run: npm run build:prod

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.6.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: _site
          cname: a11y-guidelines.orange.com
