{% import "../components/ui.njk" as ui with context %}

<footer id="footer" class="o-footer{% if page.url | isHomeUrl %} mt-0{% endif %}" role="contentinfo">
  <div class="container-lg">
    <nav class="py-2" role="navigation">
      <ul class="nav flex-column flex-sm-row">
        {%- for link in navigation.footer[locale] -%}
          <li class="nav-item">
            {{ ui.navLink(link) }}
          </li>
        {%- endfor -%}
        <li class="nav-item ml-sm-auto">
          <a href="https://github.com/Orange-OpenSource/a11y-guidelines/issues/new?title=File%20path%20:%20'{{ page.inputPath }}'" class="nav-link" rel="noopener noreferrer" target="_blank" title="{{ footer.openIssue[locale].title }}">
            {{ footer.openIssue[locale].label | safe }}<svg width="16" height="16" class="ml-1" viewBox="0 0 1000 1000" aria-hidden="true" focusable="false"><path class="cls-1" d="M374.908,308.958L600,309V109L921.719,430.9a74.988,74.988,0,0,1,0,106.044L600,859V659H325A150.027,150.027,0,0,0,175,809v81C98.941,830.528,50,737.929,50,633.891,50,454.436,195.466,308.958,374.908,308.958Z"/></svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
