<header role="banner">
  <nav class="navbar navbar-dark navbar-expand supra" role="navigation">
    <div class="container-lg">
      {% include "components/header/skip-links.njk" %}
      {% include "components/header/changelang.njk" %}
    </div>
  </nav>
  <nav class="navbar navbar-dark navbar-expand" role="navigation">
    <div class="container-lg justify-content-start">
      <a href="/{{ locale }}" class="navbar-brand">
        <img src="https://boosted.orange.com/docs/4.4/dist/img/orange_logo.svg" alt="{% translate 'header.logoAlt', locale %}" title="{% translate 'header.logoAlt', locale %}" width="50" height="50">
      </a>
      {% include "components/header/main-menu.njk" %}
    </div>
  </nav>
  <nav class="o-nav-local navbar-light" role="navigation">
    <div class="container-lg">
      {% include "components/header/category-navigation.njk" %}
    </div>
  </nav>
</header>
