<header role="banner">
  <div class="navbar navbar-dark navbar-expand supra">
    <div class="container-lg">
      {% include "components/header/skip-links.njk" %}
      {% include "components/header/changelang.njk" %}
    </div>
  </div>
  {% include "components/header/main-navigation.njk" %}
  {% include "components/header/secondary-navigation.njk" %}
</header>
