---
title: "Exemple 4 : les tags"
eleventyExcludeFromCollections: true
css:
  - style.css
js:
  - script.js
---

<div class="example">
    <ul>
        <li>Alcatel<button class="delete" aria-label="Retirer Alcatel de la liste">X</button></li>
        <li>Doro<button class="delete" aria-label="Retirer Doro de la liste">X</button></li>
        <li>Apple<button class="delete" aria-label="Retirer Apple de la liste">X</button></li>
        <li>LG<button class="delete" aria-label="Retirer LG de la liste">X</button></li>
        <li>Sony<button class="delete" aria-label="Retirer Sony de la liste">X</button></li>
    </ul>
</div>
